@import 'variables.scss';
@import 'mixins.scss';

//| PROJECT'S FEATURES                                                      |//
.features {
  list-style-type: none;
  margin: 0 $offset-right-sm 0 $offset-left-sm;
  padding-left: 0.8em;
  font-family: 'Antonio Regular';
  font-size: 18px;
  height: 100%;
  line-height: 1.4;

  border: 1px solid #000;

  &--tasktimer { color: $color-tasktimer-white; }  
  &--portfolio { color: $color-portfolio-white; }
  &--hydrapp { color: $color-hydrapp-white; }
  &--archviz { color: $color-archviz-white; }
  &--quotes { color: $color-quotes-white; }
  
  &--tasktimer &__item::before { background-color: $color-tasktimer-light; }
  &--portfolio &__item::before { background-color: $color-portfolio-light; }
  &--hydrapp &__item::before { background-color: $color-hydrapp-light; }
  &--archviz &__item::before { background-color: $color-archviz-light; }
  &--quotes &__item::before { background-color: $color-quotes-light; }
  
  &__item {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0.3em;
      left: -1.6em;
      width: 0.8em;
      height: 0.8em;
    }
    
    &--tasktimer::before {
      background-color: $color-tasktimer-white;
    }
    &--portfolio::before {
      background-color: $color-portfolio-white;
    }
    &--hydrapp::before {
      background-color: $color-hydrapp-white;
    }
    &--archviz::before {
      background-color: $color-archviz-white;
    }
    &--quotes::before {
      background-color: $color-quotes-white;
    }
  }

  @media only screen and (min-width: $media-lg) {

    & {
      margin: 0;
      padding-left: 1.6em;
    }
  }
}
//| end of PROJECT'S FEATURES                                               |//