@import 'variables.scss';
@import 'mixins.scss';
//| FORM                                                                    |//
.form {
  justify-self: end;
  display: grid;
  grid-area: form;
  grid-template-areas:
  "name   "
  "email  "
  "phone  "
  "title  "
  "message"
  "submit ";
  width: 100%;
  z-index: 3;

  @media only screen and (min-width: $media-lg) {

    & {
      gap: 20px;
      grid-template-areas:
      "title   name  "
      "message email "
      "message phone "
      ".       submit";
      grid-template-columns: 3fr 2fr;
    }
  }
  //| FORM TAB                                                              |//
  &__tab {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px 0;
    position: relative;
    width: 100%;

    &--name    { grid-area: name; }
    &--email   { grid-area: email; }
    &--phone   { grid-area: phone; }
    &--title   { grid-area: title; }
    &--message { grid-area: message; }

    @media only screen and (min-width: $media-lg) {
  
      & {
        margin: 0;
      }
    }
  }
  //| FORM LABEL                                                            |//
  &__label {
    color: $color-contact-dark;
    font-size: $tabHeading-size-sm;
    line-height: 1;
    margin: 0 $offset-right-sm 0 $offset-left-sm;
    order: -1;
    text-transform: uppercase;
    transition:
      color $tabHeader-time $tabHeader-time,
      margin-left $tabHeader-time $tabHeader-time ease-out;

    @media only screen and (min-width: $media-lg) {
  
      & {
        font-size: $tabHeading-size-lg;
        margin: 0 0 15px $tabHeading-size-lg + $tabGap;
      }
    }
  }
  //| FORM INPUT                                                            |//
  &__input {
    background: none;
    border: 3px solid $color-contact-light;
    color: $color-contact-white;
    font-size: 1.25em;
    margin: 20px $offset-right-sm 0 $offset-left-sm;
    min-width: 50px;
    outline: none;
    padding: 0.8em 0.5em;
    transition: margin-left $tabHeader-time $tabHeader-time ease-out;

    &--message {
      min-height: 200px;
      resize: none;
    }

    &::placeholder {
      color: $color-contact-light;
      font-family: 'Antonio Regular';
    }

    &:focus {
      background-color: $color-contact-dark;
      border-color: $color-contact-white;
      margin-left: $separator-width-thick + $tabGap;
      transition: margin-left $tabHeader-time ease-in;
    }
    
    &:focus + .mark {
      background-color: $color-contact-diff;
      height: 100px;
      transition:
        background-color $tabHeader-time,
        height $tabHeader-time $tabHeader-time ease-out,
        width $tabHeader-time ease-in;
      width: 10px;
    }
    
    &:focus ~ .form__label {
      color: $color-contact-diff;
      margin-left: $tabHeading-size-sm;
      transition:
        color $tabHeader-time,
        margin-left $tabHeader-time ease-in;
    }

    @media only screen and (min-width: $media-lg) {
  
      & {
        margin: 0;
        margin-left: $tabHeading-size-lg + $tabGap;

        &:focus {
        }
      }
    }
  }
  //| FORM SUBMIT BUTTON                                                    |//
  &__submit {
    background: none;
    border: 3px solid $color-contact-white;
    color: $color-contact-white;
    cursor: pointer;
    font-size: $tabHeading-size-sm;
    grid-area: submit;
    margin: $tabHeading-size-sm $offset-right-sm 0 $offset-left-sm;
    padding: 0.3em;
    text-transform: uppercase;

    &:hover {
      background: $color-contact-diff;
      border-color: transparent;
      color: $color-contact;
    }

    @media only screen and (min-width: $media-lg) {
  
      & {
        margin: 50px 0 0 $tabHeading-size-lg + $tabGap;
      }
    }
  }
}