@import 'variables.scss';
@import 'mixins.scss';

.icons {
  align-items: start;
  column-gap: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  list-style-type: none;
  margin: 0;
  padding: 0 $offset-right-sm 0 $offset-left-sm;

  &--used {
    grid-area: icons;
    margin-top: 2em;
  }

  @media only screen and (min-width: $media-lg) {

    & {
      grid-template-columns: repeat(12, 1fr);
    }
  }

  &__item {
    @include flex-center;
    flex-direction: column;
  }

  &__logo {
    @include flex-center;
    border: 2px solid transparent;
    position: relative;

    /* &:hover {
      border-color: $color-about-white;
      fill: $color-about-white
    } */

    &--about {
      border-color: $color-about-light;
      fill: $color-about-white;
    }
    &--tasktimer {
      border-color: $color-tasktimer-shadow;
      fill: $color-tasktimer-shadow;
    }
    &--portfolio {
      border-color: $color-portfolio-shadow;
      fill: $color-portfolio-shadow;
    }
    &--hydrapp {
      border-color: $color-hydrapp-shadow;
      fill: $color-hydrapp-shadow;
    }
    &--archviz {
      border-color: $color-archviz-shadow;
      fill: $color-archviz-shadow;
    }
    &--quotes {
      border-color: $color-quotes-shadow;
      fill: $color-quotes-shadow;
    }
  }

  &__name {
    font-size: 11px;
    margin: 2px 0 7px;
    text-transform: uppercase;
    word-break: break-all;

    &--about         { color: $color-about-white; }
    &--tasktimer     { color: $color-tasktimer-shadow; }
    &--portfolio     { color: $color-portfolio-shadow; }
    &--hydrapp       { color: $color-hydrapp-shadow; }
    &--archviz       { color: $color-archviz-shadow; }
    &--quotes        { color: $color-quotes-shadow; }

    @media only screen and (min-width: $media-lg) {

      & {
        font-size: 0.75em;
      }
    }
  }

  &__svg {
    width: 100%;

    &--faded1,
    &--faded2 {
      height: 100%;
      left: 0;
      opacity: 0.75;
      position: absolute;
      top: 0;
      width: 100%;
    }

    &--faded2 {
      opacity: 0.5;
    }
  }
}