@import 'variables.scss';
@import 'mixins.scss';

.intro {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #aaa;
  z-index: 3;

  &__box {
    position: absolute;
    left: calc(50% + 20px);
    background-color: #000;
    width: 100px;
    height: 100px;
  }
}