@import 'variables.scss';
@import 'mixins.scss';

.intro {
  @include flex-center;
  align-items: flex-start;
  background-color: $intro-background-color;
  height: 100%;
  left: 0;
  min-height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;

  &__ending {
    display: none;
    background-color: #000;
    position: absolute;
    visibility: hidden;

    &--visible {
      visibility: visible;
    }
  }
}

.grid {
  display: grid;
  list-style-type: none;
  margin: 0;
  padding: 0;

  &__item {
    @include flex-center;
    position: relative;
  }

  &__char {
    width: 100%;

    &--separator {
      background-color: #000;
      height: 100%;
    }

    $time: 0.5s;

    &--transition {
      position: fixed;
      transition: top $time, left $time;
    }

    &--faded.grid__char--svg {
      fill: $color-about;
    }

    &--faded.grid__char--separator {
      background-color: $color-about;
    }
  }
}