@import 'variables.scss';
@import 'mixins.scss';

.logo {
  @include flex-center;
  position: absolute;
  right: 50px;
  top: 50px;
  width: 400px;

  &__base {
    width: 100%;

    &--about { fill: $color-about-light; }
    &--archviz { fill: $color-archviz-dark; }
    &--contact { fill: $color-contact-dark; }
  }

  &__shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &--about { fill: $color-about-dark; }
    &--archviz { fill: $color-archviz-shadow; }
    &--contact { fill: $color-contact-shadow; }
  }
}