@import 'variables.scss';
@import 'mixins.scss';

.logo {
  display: flex;
  justify-content: flex-end;
  grid-area: logo;
  margin-top: $menu-item-height;
  margin-left: $offset-left-xs;
  position: relative;
  transform-origin: bottom left;

  &--about {
    display: none;
  }

  &--tasktimer {
    margin-right: -50px;
  }

  &--portfolio,
  &--quotes,
  &--other,
  &--contact {
    margin-right: -25px;
  }

  &__base {
    width: 100%;
    max-width: 400px;

    &--about {fill: $color-about-light; }
    &--resume { fill: $color-resume-dark; }
    &--tasktimer { fill: $color-tasktimer-dark; }
    &--portfolio { fill: $color-portfolio-dark; }
    &--hydrapp { fill: $color-hydrapp-dark; }
    &--archviz { fill: $color-archviz-dark; }
    &--quotes { fill: $color-quotes-dark; }
    &--other { fill: $color-other-dark; }
    &--contact { fill: $color-contact-dark; }
  }

  &__shadow {
    position: absolute;
    max-width: 400px;
    top: 0;
    right: 0;
    width: 100%;

    &--about { fill: $color-about-dark; }
    &--resume { fill: $color-resume-shadow; }
    &--tasktimerBase { fill: $color-tasktimer-shadow; }
    &--tasktimerLetter { fill: $color-tasktimer-shadowLetter; }
    &--portfolio { fill: $color-portfolio-shadow; }
    &--hydrapp { fill: $color-hydrapp-shadow; }
    &--archviz { fill: $color-archviz-shadow; }
    &--quotes { fill: $color-quotes-shadow; }
    &--other { fill: $color-other-shadow; }
    &--contact { fill: $color-contact-shadow; }
  }

  &__letter {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    max-width: 400px;

    &--tasktimer { fill: $color-tasktimer-letter; }
  }

  @media only screen and (min-width: $media-sm) {

    & {
      margin-left: $offset-left-sm;
    }
  }

  @media only screen and (min-width: $media-md) {

    & {
      position: absolute;
      margin: 0;
      right: 0;
      top: 50px;
    }
  }

  @media only screen and (min-width: $media-lg) {

    & {

      &--about {
        display: block;
      }

      &__base,
      &__shadow,
      &__letter {
        max-width: 500px;
      }
    }
  }
}