@import 'variables.scss';
@import 'mixins.scss';

.mark {
  height: $tabHeader-size-sm;
  position: absolute;
  top: 0;
  left: 0;
  transition:
    background-color $tabHeader-time $tabHeader-time,
    height $tabHeader-time ease-in,
    width $tabHeader-time $tabHeader-time ease-out;
  width: $tabHeader-size-sm;
  z-index: 2;

  &--about { background-color: $color-about-diff; }
  &--resume { background-color: $color-resume-dark; }
  &--category {
    height: $features-category-size-sm;
    width: $features-category-size-sm;
  }
  &--tasktimer { background-color: $color-tasktimer-white; }
  &--portfolio { background-color: $color-portfolio-white; }
  &--hydrapp   { background-color: $color-hydrapp-white; }
  &--quotes    { background-color: $color-quotes-white; }
  &--other {
    background-color: $color-other-shadow;
    height: $otherHeading-size-sm;
    width: $otherHeading-size-sm;
  }
  &--contact { background-color: $color-contact-dark; }

  &--unrolled {
    height: 90px;
    transition:
      background-color $tabHeader-time,
      height $tabHeader-time $tabHeader-time ease-out,
      width $tabHeader-time ease-in;
    width: $separator-width-thick;
  }

  
  &--small.mark--resume    { background-color: $color-resume-dark; }
  &--small.mark--tasktimer { background-color: $color-tasktimer-dark; }
  &--small.mark--other     { background-color: $color-other-dark; }
  &--small.mark--contact   { background-color: $color-contact-dark; }
  
  &--unrolled.mark--resume    { background-color: $color-resume-diff; }
  &--unrolled.mark--tasktimer { background-color: $color-tasktimer-shadow; }
  &--unrolled.mark--portfolio { background-color: $color-portfolio-shadow; }
  &--unrolled.mark--hydrapp   { background-color: $color-hydrapp-shadow; }
  &--unrolled.mark--archviz   { background-color: $color-archviz-shadow; }
  &--unrolled.mark--quotes    { background-color: $color-quotes-shadow; }
  &--unrolled.mark--category  { height: 50px; }
  &--unrolled.mark--other     { background-color: $color-other-diff; }
  &--unrolled.mark--contact   { background-color: $color-contact-diff; }

  @media only screen and (min-width: $media-lg) {

    & {
      height: $tabHeader-size-lg;
      width: $tabHeader-size-lg;

      &--category {
        height: $features-category-size-lg;
        width: $features-category-size-lg;
      }
      
      &--other {
        height: $otherHeading-size-lg;
        width: $otherHeading-size-lg;
      }
      
      &--contact {
        height: $tabHeading-size-lg;
        width: $tabHeading-size-lg;
      }

      &--unrolled {
        height: 120px;
        width: $separator-width-thick;
      }
    }
  }
}