@import 'variables.scss';
@import 'mixins.scss';
//| PAGE HEADER                                                             |//
.pageHeader {
  align-items: flex-start;
  display: flex;
  height: 100%;
  left: 0;
  min-height: 100vh;
  overflow: auto;
  opacity: 0;
  padding: $mobile-menu-offset-top 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  visibility: hidden;
  width: 100%;
  z-index: 3;

  &--visible {
    opacity: 1;
    transition: opacity 1s;
    visibility: visible;
  }

  &--intro {
    pointer-events: all;
  }
  
  @media only screen and (min-width: $media-lg) {

    & {
      box-shadow: inset 0 0 150px rgba($color: #000000, $alpha: 0.2);
      pointer-events: none;

      //: PAGE INDICATOR                                                    ://
      &__indicator {
        background-color: #fff;
        left: 0;
        height: $menu-item-height-lg;
        position: fixed;
        right: calc(100vw - #{$menu-item-height-lg});
        top: -$menu-item-height-lg;
        z-index: -1;

        &--animated {
          transition:
            left $menu-lg-second-timeout 0.3s,
            right $menu-lg-second-timeout,
            top $time-switch;
        }

        &--narrowed {
          right: calc(100vw - (#{$menu-item-height-lg} / 3));
        }

        &--centered {
          left: calc(50vw + 10px);
          right: calc(50vw - 10px);
        }
      }
    }
  }
}
/*
##     ## ######## ##    ## ##     ##
###   ### ##       ###   ## ##     ##
#### #### ##       ####  ## ##     ##
## ### ## ######   ## ## ## ##     ##
##     ## ##       ##  #### ##     ##
##     ## ##       ##   ### ##     ##
##     ## ######## ##    ##  #######
*/
//| MAIN MENU                                                               |//
.menu {
  width: 100%;
  position: relative;

  @media only screen and (min-width: $media-lg) {

    & {
      align-items: center;
      display: flex;
      height: 100%;
      min-height: $container-size;
      width: $menu-width;
      transition: transform 0.5s;
  
      &--intro {
        $left-offset: calc(50vw - #{$menu-width});
        transform: translateX($left-offset);
      }
    }
  }
  //: MENU LIST                                                             ://
  &__list {
    display: grid;
    list-style-type: none;
    margin: 0;
    padding: 0;
    row-gap: 10px;
    width: 100%;
  }
  //: MENU ITEMS                                                            ://
  &__item {
    align-items: flex-start;
    display: flex;
    height: $menu-item-height;
    overflow: hidden;
    padding-right: 10px;
    pointer-events: none;    // ! make possible to enable menu by clicking link name
    visibility: hidden;
    width: 100%;
    transition: height 0.3s;

    &--active {
      pointer-events: all;
    }

    &--mobileHeader {
      left: 0;
      margin: 0;
      position: fixed;
    }

    &--minimized {
      height: 0;
      transition: height 0.3s, visibility 0s 0.3s;
    }

    &--animated {
      transition: top $menu-sm-second-timeout;
    }

    &--visible {
      visibility: visible;
    }

    @media only screen and (min-width: $media-lg) {
      height: $menu-item-height-lg;
      justify-content: flex-end;
      padding: 0;
      width: 100%;
    }
  }
  //: MENU LINKS                                                            ://
  &__link {
    display: flex;
    fill: $intro-link-color;
    height: $menu-item-height;
    justify-content: flex-end;
    padding-left: 55px;
    transition: fill $menu-sm-first-timeout, width $menu-sm-first-timeout;

    &--intro-about     { fill: $color-about; }
    &--intro-resume    { fill: $color-resume; }
    &--intro-tasktimer { fill: $color-tasktimer; }
    &--intro-portfolio { fill: $color-portfolio; }
    &--intro-hydrapp   { fill: $color-hydrapp; }
    &--intro-archviz   { fill: $color-archviz; }
    &--intro-quotes    { fill: $color-quotes; }
    &--intro-other     { fill: $color-other; }
    &--intro-contact   { fill: $color-contact; }

    &--about {
      fill: $color-about-diff;
      &:hover { fill: $color-about-diff-dark; }
    }
    &--resume {
      fill: $color-resume-diff;
      &:hover { fill: $color-resume-diff-dark; }
    }
    &--tasktimer {
      fill: $color-tasktimer-diff;
      &:hover { fill: $color-tasktimer-diff-dark; }
    }
    &--portfolio {
      fill: $color-portfolio-diff;
      &:hover { fill: $color-portfolio-diff-dark; }
    }
    &--hydrapp {
      fill: $color-hydrapp-diff;
      &:hover { fill: $color-hydrapp-diff-dark; }
    }
    &--archviz {
      fill: $color-archviz-diff;
      &:hover { fill: $color-archviz-diff-dark; }
    }
    &--quotes {
      fill: $color-quotes-diff;
      &:hover { fill: $color-quotes-diff-dark; }
    }
    &--other {
      fill: $color-other-diff;
      &:hover { fill: $color-other-diff-dark; }
    }
    &--contact {
      fill: $color-contact-diff;
      &:hover { fill: $color-contact-diff-dark; }
    }
    &--active {
      fill: #fff;
      &:hover { fill: #fff; }
    }

    @media only screen and (min-width: $media-lg) {
      height: $menu-item-height-lg;
      padding: 0;
      width: 100%;
    }
  }
  //: MENU SVG                                                              ://
  &__svg {
    height: $menu-item-height;
    pointer-events: none;

    @media only screen and (min-width: $media-lg) {
  
      height: $menu-item-height-lg;
    }
  }
}

//| BURGER BUTTON                                                           |//
.burgerButton {
  @include button;
  @include flex-center;
  height: $menu-item-height;
  left: 0;
  pointer-events: all;
  position: fixed;
  top: 0;
  transition: visibility 0s;
  visibility: hidden;
  width: $menu-item-height;

  &--visible {
    visibility: visible;
  }

  &--about     { fill: $color-about; }
  &--resume    { fill: $color-resume; }
  &--tasktimer { fill: $color-tasktimer; }
  &--portfolio { fill: $color-portfolio; }
  &--hydrapp   { fill: $color-hydrapp; }
  &--archviz   { fill: $color-archviz; }
  &--quotes    { fill: $color-quotes; }
  &--other     { fill: $color-other; }
  &--contact   { fill: $color-contact; }

  //: BURGER BUTTON SVG                                                     ://
  &__svg {
    width: 100%;
  }
}