@import 'variables.scss';
@import 'mixins.scss';

.pageHeader {
  align-items: flex-start;
  display: flex;
  height: 100%;
  left: 0;
  min-height: 100vh;
  overflow: auto;
  padding: 100px 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;

  &--intro {
    pointer-events: all;
  }

  &__indicator {
    background-color: #fff;
    left: 0;
    position: fixed;
    top: 0;
    transition: top $time-switch;
    width: 20px;
  }

  &__introBox {
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    transition: opacity $menu-first-timeout, top $menu-first-timeout;
    
    &--mobileHeader {
      transition: opacity $menu-first-timeout, top $menu-second-timeout;
    }

    &--onResize {
      transition: none;
    }

    &--visible {
      opacity: 1;
    }

    &--about     { background-color: $color-about; }
    &--resume    { background-color: $color-resume; }
    &--tasktimer { background-color: $color-tasktimer; }
    &--portfolio { background-color: $color-portfolio; }
    &--hydrapp   { background-color: $color-hydrapp; }
    &--archviz   { background-color: $color-archviz; }
    &--quotes    { background-color: $color-quotes; }
    &--other     { background-color: $color-other; }
    &--contact   { background-color: $color-contact; }
  }

  &__background {
    background-color: $intro-background-color;
    height: 100%;
    position: fixed;
    transition: background-color $menu-first-timeout;
    width: 100%;
    z-index: -1;

    &--animated {
      transition:
        background-color $menu-first-timeout,
        height $menu-second-timeout;
    }

    &--upper {
      left: 0;
      top: 0;
    }
    
    &--bottom {
      bottom: 0;
      left: 0;
    }

    &--about     { background-color: $color-about-diff; }
    &--resume    { background-color: $color-resume-diff; }
    &--tasktimer { background-color: $color-tasktimer-diff; }
    &--portfolio { background-color: $color-portfolio-diff; }
    &--hydrapp   { background-color: $color-hydrapp-diff; }
    &--archviz   { background-color: $color-archviz-diff; }
    &--quotes    { background-color: $color-quotes-diff; }
    &--other     { background-color: $color-other-diff; }
    &--contact   { background-color: $color-contact-diff; }
  }

  /*
  .%%...%%..%%%%%%..%%%%%...%%%%%%...%%%%..
  .%%%.%%%..%%......%%..%%....%%....%%..%%.
  .%%.%.%%..%%%%....%%..%%....%%....%%%%%%.
  .%%...%%..%%......%%..%%....%%....%%..%%.
  .%%...%%..%%%%%%..%%%%%...%%%%%%..%%..%%.
  */

  @media only screen and (min-width: $media-lg) {

    & {

      &__introBox {
        left: calc(50% + 20px);
        right: initial;
      }
    }
  }
}

.menu {
  width: 100%;

  &__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  &__item {
    align-items: flex-start;
    display: flex;
    height: $menu-item-height;
    margin: 5px 0;
    overflow: hidden;
    padding-right: 10px;
    visibility: hidden;
    width: 100%;
    transition: height 0.3s;

    //pointer-events: all;    // ! make possible to enable menu by clicking link name

    &--mobileHeader {
      left: 0;
      margin: 0;
      position: fixed;
    }

    &--minimized {
      height: 0;
      transition: height 0.3s, visibility 0s 0.3s;
    }

    &--animated {
      transition: top $menu-second-timeout;
    }

    &--visible {
      visibility: visible;
    }
  }

  &__link {
    display: flex;
    fill: $intro-link-color;
    height: $menu-item-height;
    justify-content: flex-end;
    padding-left: 55px;
    transition: fill $menu-first-timeout, width $menu-first-timeout;

    &--intro-about     { fill: $color-about; }
    &--intro-resume    { fill: $color-resume; }
    &--intro-tasktimer { fill: $color-tasktimer; }
    &--intro-portfolio { fill: $color-portfolio; }
    &--intro-hydrapp   { fill: $color-hydrapp; }
    &--intro-archviz   { fill: $color-archviz; }
    &--intro-quotes    { fill: $color-quotes; }
    &--intro-other     { fill: $color-other; }
    &--intro-contact   { fill: $color-contact; }

    &--about {
      fill: $color-about-diff;
      &:hover { fill: $color-about-diff-dark; }
    }
    &--resume {
      fill: $color-resume-diff;
      &:hover { fill: $color-resume-diff-dark; }
    }
    &--tasktimer {
      fill: $color-tasktimer-diff;
      &:hover { fill: $color-tasktimer-diff-dark; }
    }
    &--portfolio {
      fill: $color-portfolio-diff;
      &:hover { fill: $color-portfolio-diff-dark; }
    }
    &--hydrapp {
      fill: $color-hydrapp-diff;
      &:hover { fill: $color-hydrapp-diff-dark; }
    }
    &--archviz {
      fill: $color-archviz-diff;
      &:hover { fill: $color-archviz-diff-dark; }
    }
    &--quotes {
      fill: $color-quotes-diff;
      &:hover { fill: $color-quotes-diff-dark; }
    }
    &--other {
      fill: $color-other-diff;
      &:hover { fill: $color-other-diff-dark; }
    }
    &--contact {
      fill: $color-contact-diff;
      &:hover { fill: $color-contact-diff-dark; }
    }
    &--active {
      fill: #fff;
      &:hover { fill: #fff; }
    }
  }

  &__svg {
    height: $menu-item-height;
    pointer-events: none;
  }

  /*
  .%%...%%..%%%%%%..%%%%%...%%%%%%...%%%%..
  .%%%.%%%..%%......%%..%%....%%....%%..%%.
  .%%.%.%%..%%%%....%%..%%....%%....%%%%%%.
  .%%...%%..%%......%%..%%....%%....%%..%%.
  .%%...%%..%%%%%%..%%%%%...%%%%%%..%%..%%.
  */

  @media only screen and (min-width: $media-lg) {

    & {
      width: 500px;

      &--intro {
        width: 1000px;
        margin-left: calc(50vw - 500px);
      }
      
      &__link {
        font-size: 5.5em;
      }
    }
  }
}

//| BURGER BUTTON |//
.burgerButton {
  @include button;
  @include flex-center;
  height: $menu-item-height;
  left: 0;
  pointer-events: all;
  position: fixed;
  top: 0;
  transition: visibility 0s;
  visibility: hidden;
  width: $menu-item-height;

  &--visible {
    visibility: visible;
  }

  &--about     { fill: $color-about; }
  &--resume    { fill: $color-resume; }
  &--tasktimer { fill: $color-tasktimer; }
  &--portfolio { fill: $color-portfolio; }
  &--hydrapp   { fill: $color-hydrapp; }
  &--archviz   { fill: $color-archviz; }
  &--quotes    { fill: $color-quotes; }
  &--other     { fill: $color-other; }
  &--contact   { fill: $color-contact; }

  &__svg {
    width: 100%;
  }
}