@import 'variables.scss';
@import 'mixins.scss';

.navigation {
  bottom: 100px;
  position: fixed;
  right: 100px;

  &:hover &__button {
    transition: transform $navigation-time $navigation-time-rotate;

    &--prev {
      transform: translateY($navigation-offset * -2);
    }
  
    &--main {
      transform: translateY($navigation-offset * -1);
    }
  }

  &:hover &__icon {
    transform: rotate(45deg) translate3d( 0, 0, 1px);
    transition: border-color $navigation-time, transform $navigation-time;
  }

  &__button {
    @include button;
    @include flex-center;
    border-color: #fff;
    height: $navigation-size-button;
    padding: $navigation-padding;
    transition:
      border-color $navigation-time,
      transform $navigation-time $navigation-time-delay;
    width: $navigation-size-button;

    &--about {
      border-color: $color-about-dark;
      &:hover {
        border-color: $color-about-white;
      }
    }
    &--resume {
      border-color: $color-resume-dark;
      &:hover {
        border-color: $color-resume-white;
      }
    }
    &--tasktimer {
      border-color: $color-tasktimer-dark;
      &:hover {
        border-color: $color-tasktimer-white;
      }
    }
    &--portfolio {
      border-color: $color-portfolio-dark;
      &:hover {
        border-color: $color-portfolio-white;
      }
    }
    &--hydrapp {
      border-color: $color-hydrapp-dark;
      &:hover {
        border-color: $color-hydrapp-white;
      }
    }
    &--archviz {
      border-color: $color-archviz-dark;
      &:hover {
        border-color: $color-archviz-white;
      }
    }
    &--quotes {
      border-color: $color-quotes-dark;
      &:hover {
        border-color: $color-quotes-white;
      }
    }
    &--other {
      border-color: $color-other-dark;
      &:hover {
        border-color: $color-other-white;
      }
    }
    &--contact {
      border-color: $color-contact-dark;
      &:hover {
        border-color: $color-contact-white;
      }
    }

    &--prev,
    &--next {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: -1;
    }
  }

  &__icon {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
    pointer-events: none;
    transition:
      border-color $navigation-time,
      transform $navigation-time $navigation-time-delay + $navigation-time-rotate;
    height: $navigation-size-arrows;
    width: $navigation-size-arrows;

    &--main {
      border-width: $navigation-size-main / 2;
      height: $navigation-size-main;
      width: $navigation-size-main;
    }

    &--prev {
      border-left-width: $navigation-border-arrow;
      border-top-width: $navigation-border-arrow;
    }
  
    &--next {
      border-bottom-width: $navigation-border-arrow;
      border-right-width: $navigation-border-arrow;
    }
  }
}