@import 'variables.scss';
@import 'mixins.scss';

.navigation {
  bottom: 100px;
  position: fixed;
  right: 100px;

  &:hover &__button {
    transition: transform $navigation-time $navigation-time-rotate;

    &--prev {
      transform: translateY($navigation-offset * -2);
    }
  
    &--main {
      transform: translateY($navigation-offset * -1);
    }
  }

  &:hover &__icon {
    transform: rotate(45deg) translate3d( 0, 0, 1px);
    transition: border-color $navigation-time, transform $navigation-time;
  }

  &:hover &__icon--main {
    border-width: $navigation-size-main / 2;
    height: $navigation-size-main;
    width: $navigation-size-main;
    transition:
      border-color $navigation-time,
      border-width $navigation-time $navigation-time-rotate,
      height $navigation-time $navigation-time-rotate,
      transform $navigation-time,
      width $navigation-time $navigation-time-rotate;
  }



  &__button {
    @include button;
    @include flex-center;
    border-color: #fff;
    height: $navigation-size-button;
    padding: $navigation-padding;
    transition:
      border-color $navigation-time,
      transform $navigation-time $navigation-time-delay;
    width: $navigation-size-button;

    &--about {
      border-color: $color-about-diff;
      &:hover {
        border-color: $color-about-diff-dark;
      }
    }
    &--resume {
      border-color: $color-resume-diff;
      &:hover {
        border-color: $color-resume-diff-dark;
      }
    }
    &--tasktimer {
      border-color: $color-tasktimer-diff;
      &:hover {
        border-color: $color-tasktimer-diff-dark;
      }
    }
    &--portfolio {
      border-color: $color-portfolio-diff;
      &:hover {
        border-color: $color-portfolio-diff-dark;
      }
    }
    &--hydrapp {
      border-color: $color-hydrapp-diff;
      &:hover {
        border-color: $color-hydrapp-diff-dark;
      }
    }
    &--archviz {
      border-color: $color-archviz-diff;
      &:hover {
        border-color: $color-archviz-diff-dark;
      }
    }
    &--quotes {
      border-color: $color-quotes-diff;
      &:hover {
        border-color: $color-quotes-diff-dark;
      }
    }
    &--other {
      border-color: $color-other-diff;
      &:hover {
        border-color: $color-other-diff-dark;
      }
    }
    &--contact {
      border-color: $color-contact-diff;
      &:hover {
        border-color: $color-contact-diff-dark;
      }
    }

    &--prev,
    &--next {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: -1;
    }

    &--hidden {
      visibility: hidden;
    }
  }

  &__icon {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
    pointer-events: none;
    transition:
      border-color $navigation-time,
      transform $navigation-time $navigation-time-delay + $navigation-time-rotate;
    height: $navigation-size-arrows;
    width: $navigation-size-arrows;

    &--main {
      border-width: $navigation-size-arrows / 2;
      transition:
        border-color $navigation-time,
        border-width $navigation-time $navigation-time-delay,
        height $navigation-time $navigation-time-delay,
        transform $navigation-time $navigation-time-delay + $navigation-time-rotate,
        width $navigation-time $navigation-time-delay;
    }

    &--prev {
      border-left-width: $navigation-border-arrow;
      border-top-width: $navigation-border-arrow;
    }
  
    &--next {
      border-bottom-width: $navigation-border-arrow;
      border-right-width: $navigation-border-arrow;
    }
  }
}