@import 'variables.scss';
@import 'mixins.scss';

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

@font-face {
  font-family: 'Antonio Bold';
  src: url('../assets/fonts/Antonio-Bold.ttf');
}

@font-face {
  font-family: 'Antonio Regular';
  src: url('../assets/fonts/Antonio-Regular.ttf');
}

@font-face {
  font-family: 'Antonio Light';
  src: url('../assets/fonts/Antonio-Light.ttf');
}

html {
  box-sizing: border-box;
  scroll-behavior: auto;
  touch-action: manipulation;

  @media only screen and (min-width: $media-lg) {
    & {
      scroll-behavior: smooth;
    }
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: #000;
  font-family: "Antonio Bold", Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
}

a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

.breakable {
  word-break: break-all;
}