@import 'variables.scss';
@import 'mixins.scss';

.table {
  border-collapse: collapse;
  color: $color-resume-white;
  width: 100%;

  &__header {
    display: none;
  }

  &__body {
    font-size: 1.5em;
  }

  &__col {
    padding-top: 0.3em;
    vertical-align: top;

    &--first {
      width: 180px;
    }
  }

  &__text {
    margin: 0;

    &--secondary {
      color: $color-resume-dark;
    }
  }
}

.indicator {
  @include flex-center;
  overflow: hidden;
  pointer-events: none;

  &--field {
    fill: $color-resume-white;
    height: 50px;
    width: 50px;
  }

  &--profession {
    fill: $color-resume-dark;
    height: 30px;
    width: 30px;
  }

  &__svg {
    transition: transform 0.3s;
    width: 100%;

    &--active {
      transform: scale(5);
      fill: $color-resume-diff;
    }
  }
}