@import 'variables.scss';
@import 'mixins.scss';

.pageContainer {
  background-color: $intro-background-color;
  overflow: hidden;
  position: relative;
  visibility: hidden;
  width: 100%;

  &--visible {
    visibility: visible;
  }
  
  @media only screen and (min-width: $media-lg) {

    & {
      overflow: auto;
      position: fixed;
      top: 0;
      left: 100vw;
      width: 100%;
      height: 100%;
      transition:
        left $menu-lg-second-timeout,
        visibility 0s $menu-lg-second-timeout;
      scroll-snap-type: y mandatory;

      &--visible {
        left: 0;
        visibility: visible;
        transition: left $menu-lg-second-timeout, visibility 0s;
      }

      &--smooth {
        scroll-behavior: smooth;
      }
    }
  }
}

.section {
  align-items: flex-start;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding-bottom: 50px;
  position: relative;
  scroll-snap-align: start;
  width: 100%;

  &--about {
    background-color: $color-about;
  }
  &--resume {
    background-color: $color-resume;
  }
  &--tasktimer {
    background-color: $color-tasktimer;
  }
  &--portfolio {
    background-color: $color-portfolio;
  }
  &--hydrapp {
    background-color: $color-hydrapp;
  }
  &--archviz {
    background-color: $color-archviz;
  }
  &--quotes {
    background-color: $color-quotes;
  }
  &--other {
    background-color: $color-other;
  }
  &--contact {
    background-color: $color-contact;
    padding-bottom: 20px;
  }

  @media only screen and (min-width: $media-lg) {

    & {
      justify-content: flex-start;
    }      
  }   

  &__container {
    align-items: start;
    display: grid;
    width: 100%;

    &--about {
      grid-template-areas:
      "photography"
      "heading    "
      "description"
      "profiles   "
      "working    "
      "knowing    "
      "learning   ";
    }

    &--resume {
      grid-template-areas:
      "logo      "
      "heading   "
      "info      "
      "experience"
      "education "
      "languages ";
    }

    &--tasktimer,
    &--portfolio,
    &--hydrapp,
    &--archviz,
    &--quotes {
      grid-template-areas:
      "logo        "
      "heading     "
      "description "
      "features    "
      "technologies"
      "stats       "
      "repoLinks   ";
    }

    &--other {
      grid-template-areas:
      "logo       "
      "heading    "
      "description"
      "otherRepos ";
    }

    &--contact {
      grid-template-areas:
      "logo   "
      "heading"
      "form   "
      "social "
      "footer ";
    }

    @media only screen and (min-width: $media-md) {

      & {

        gap: $gridGap;
        max-width: $container-size;
        min-height: $container-size;

        &--about {
          grid-template-areas:
          "heading     photography"
          "description photography"
          "profiles    photography"
          "working     working    "
          "knowing     knowing    "
          "learning    learning   ";
          grid-template-columns: 1fr 1fr;
          grid-template-rows: auto 1fr repeat(4, auto);
        }

        &--resume {
          align-content: start;
          grid-template-areas:
          "heading   "
          "info      "
          "experience"
          "education "
          "languages ";
        }

        &--tasktimer,
        &--portfolio,
        &--hydrapp,
        &--archviz,
        &--quotes {
          grid-template-areas:
          "heading      heading     "
          "description  features    "
          "technologies technologies"
          "stats        repoLinks   ";
          grid-template-columns: 1fr 1fr;
          grid-template-rows: auto 1fr repeat(2, auto);
        }

        &--other {
          grid-template-areas:
          "heading    "
          "description"
          "otherRepos ";
          grid-template-rows: auto 1fr auto;
        }

        &--contact {
          align-content: stretch;
          align-items: center;
          grid-template-areas:
          "heading"
          "form   "
          "social "
          "footer ";
          grid-template-rows: auto 1fr;
        }
      }
    }

    @media only screen and (min-width: $media-lg) {

      & {
        //margin-left: calc((100vw - #{$container-size}) / 2);
        margin-left: 500px;
      }      
    }
  }
  
  &__heading {
    border-left: $separator-width solid transparent;
    color: #fff;
    font-family: 'Antonio Bold';
    font-size: 60px;
    grid-area: heading;
    line-height: 1.2;
    margin: 0 $offset-right-xs 0 0;
    margin-top: -60px;
    padding: 30px 10px 30px 20px;
    position: relative;
    width: 100%;
    z-index: 2;

    &--large {
      font-size: 72px;
      line-height: 1;
    }

    &--about {
      border-color: $color-about-diff;
      color: $color-about-light;
    }
    &--resume {
      border-color: $color-resume-diff;
      color: $color-resume-light;
    }
    &--tasktimer {
      border-color: $color-tasktimer-diff;
      color: $color-tasktimer-light;
    }
    &--portfolio {
      border-color: $color-portfolio-diff;
      color: $color-portfolio-light;
    }
    &--hydrapp {
      border-color: $color-hydrapp-diff;
      color: $color-hydrapp-light;
    }
    &--archviz {
      border-color: $color-archviz-diff;
      color: $color-archviz-light;
    }
    &--quotes {
      border-color: $color-quotes-diff;
      color: $color-quotes-light;
    }
    &--other {
      border-color: $color-other-diff;
      color: $color-other-light;
    }
    &--contact {
      border-color: $color-contact-diff;
      color: $color-contact-light;
    }
    
    @media only screen and (min-width: $media-md) {

      & {
        border: none;
        font-size: 72px;
        margin: $menu-item-height + $offset-right-sm 0;
        max-width: 60%;
        min-width: 380px;
        padding: 0;
        width: 100%;

        &--about,
        &--other {
          margin-bottom: 0;
        }
      }
    }
    
    @media only screen and (min-width: $media-lg) {

      & {
        margin: 0;
        margin-bottom: 20px;
        max-width: none;
      }
    }
  }
  
  &__photo {
    background: $color-about-light;
    background-clip: content-box;
    grid-area: photography;
    justify-self: end;
    margin-top: $menu-item-height;
    max-width: 500px;
    padding-left: $offset-left-xs;
    width: 100%;
    z-index: 1;

    @media only screen and (min-width: $media-sm) {

      & {
        padding-left: $offset-left-sm;
      }
    }

    @media only screen and (min-width: $media-md) {

      & {
        border: 3px solid $color-about-light;
        margin-top: $menu-item-height + $offset-right-sm;
        margin-right: $offset-right-sm;
        padding: 3px;
      }
    }

    @media only screen and (min-width: $media-lg) {

      & {
        margin: 0;
        max-width: 350px;
      }
    }
  }

  &__svg {
    display: none;
  }
  
  &__repos {
    grid-area: otherRepos;
    justify-self: start;
    margin-top: 20px;
    max-width: 500px;

    @media only screen and (min-width: $media-md) {

      & {
        display: grid;
        gap: $tabGap-xs;
        grid-template-columns: repeat(3, 1fr);
        max-width: none;
      }
    }
  }
}

.stats {
  border-collapse: collapse;
  border-bottom: 3px solid transparent;
  display: flex;
  margin: 20px $offset-right-xs 0 $offset-left-xs;
  padding-bottom: 10px;
  
  &--tasktimer {
    color: $color-tasktimer-shadow;
    border-color: $color-tasktimer-shadow;
  }
  &--portfolio {
    color: $color-portfolio-shadow;
    border-color: $color-portfolio-shadow;
  }
  &--hydrapp {
    color: $color-hydrapp-shadow;
    border-color: $color-hydrapp-shadow;
  }
  &--archviz {
    color: $color-archviz-shadow;
    border-color: $color-archviz-shadow;
  }
  &--quotes {
    color: $color-quotes-shadow;
    border-color: $color-quotes-shadow;
  }

  &__header {
    display: none;
  }

  &__body {
    width: 100%;
  }

  &__row {
    display: flex;
    justify-content: space-between;
  }

  &__category,
  &__value {
    padding-top: 0.3em;
  }

  &__value {
    text-align: right;
  }

  @media only screen and (min-width: $media-sm) {

    & {
      margin: 20px $offset-right-sm 0 $offset-left-sm;
    }
  }

  @media only screen and (min-width: $media-md) {

    & {
      margin: 0;
      margin-top: 10px;
    }
  }
}

.repoLinks {
  align-self: end;
  column-gap: 10px;
  display: grid;
  font-size: 2em;
  grid-area: repoLinks;
  grid-template-columns: repeat(2, 1fr);
  margin: 0.5em $offset-right-xs 0 $offset-left-xs;

  &--about     { border-color: $color-about-diff; }
  &--tasktimer { border-color: $color-tasktimer-diff; }
  &--portfolio { border-color: $color-portfolio-diff; }
  &--hydrapp   { border-color: $color-hydrapp-diff; }
  &--archviz   { border-color: $color-archviz-diff; }
  &--quotes    { border-color: $color-quotes-diff; }
  &--other {
    font-size: 1.5em;
    margin: 0.5em $offset-right-xs 0 $offset-left-xs;
  }

  &__link {
    @include button;  
    @include flex-center;
    min-width: 50px;
    padding: 0.4em 0.5em;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color $button-hover, color $button-hover;

    &--about {
      border-color: inherit;
      color: $color-about-diff;
      &:hover {
        border-color: $color-about-shadow;
        color: $color-about-shadow;
      }
    }

    &--hydrapp {
      background-color: rgba($color: $color-hydrapp-dark, $alpha: $background-opacity);
      color: $color-hydrapp-light;
    }

    &--tasktimer {
      background-color: rgba($color: $color-tasktimer-dark, $alpha: $background-opacity);
      color: $color-tasktimer-light;
    }

    &--portfolio {
      background-color: rgba($color: $color-portfolio-dark, $alpha: $background-opacity);
      color: $color-portfolio-light;
    }

    &--archviz {
      background-color: rgba($color: $color-archviz-dark, $alpha: $background-opacity);
      color: $color-archviz-light;
    }

    &--quotes {
      background-color: rgba($color: $color-quotes-dark, $alpha: $background-opacity);
      color: $color-quotes-light;
    }

    &--other {
      background-color: rgba($color: $color-other-dark, $alpha: $background-opacity);
      color: $color-other-light;
    }

    @mixin buttonShadow {
      border-left-width: 10px;
      border-top-width: 10px;
    }

    @mixin hydrappButtonShadow { border-color: $color-hydrapp-shadow; }
    @mixin tasktimerButtonShadow { border-color: $color-tasktimer-shadow; }
    @mixin portfolioButtonShadow { border-color: $color-portfolio-shadow; }
    @mixin archvizButtonShadow { border-color: $color-archviz-shadow; }
    @mixin quotesButtonShadow { border-color: $color-quotes-shadow; }
    @mixin otherButtonShadow { border-color: $color-other-shadow; }

    @mixin hydrappButton {
      color: $color-hydrapp;
      background-color: rgba($color: $color-hydrapp-shadow, $alpha: $background-opacity);
    }
    
    @mixin tasktimerButton {
      color: $color-tasktimer;
      background-color: rgba($color: $color-tasktimer-shadow, $alpha: $background-opacity);
    }
    
    @mixin portfolioButton {
      color: $color-portfolio;
      background-color: rgba($color: $color-portfolio-shadow, $alpha: $background-opacity);
    }
    
    @mixin archvizButton {
      color: $color-archviz;
      background-color: rgba($color: $color-archviz-shadow, $alpha: $background-opacity);
    }
    
    @mixin quotesButton {
      color: $color-quotes;
      background-color: rgba($color: $color-quotes-shadow, $alpha: $background-opacity);
    }
    
    @mixin otherButton {
      color: $color-other;
      background-color: rgba($color: $color-other-shadow, $alpha: $background-opacity);
    }

    &::before {
      border-style: solid;
      border-width: 0;
      bottom: 0;
      content: '';
      left: 0;
      opacity: 0.6;
      position: absolute;
      right: 0;
      top: 0;
      transition: border-width $button-hover;
    }

    &:active::before { @include buttonShadow; }

    &--hydrapp {
      &::before { @include hydrappButtonShadow; }
      &:active { @include hydrappButton; }
    }

    &--tasktimer {
      &::before { @include tasktimerButtonShadow; }
      &:active { @include tasktimerButton; }
    }

    &--portfolio {
      &::before { @include portfolioButtonShadow; }
      &:active { @include portfolioButton; }
    }

    &--archviz {
      &::before { @include archvizButtonShadow; }
      &:active { @include archvizButton; }
    }

    &--quotes {
      &::before { @include quotesButtonShadow; }
      &:active { @include quotesButton; }
    }

    &--other {
      &::before { @include otherButtonShadow; }
      &:active { @include otherButton; }
    }

    @media only screen and (min-width: $media-md) {

      & {
        &:focus::before,
        &:hover::before { @include buttonShadow; }
      }

      &--hydrapp {
        &::before { @include hydrappButtonShadow; }
        &:focus,
        &:hover { @include hydrappButton; }
      }

      &--tasktimer {
        &::before { @include tasktimerButtonShadow; }
        &:focus,
        &:hover { @include tasktimerButton; }
      }

      &--portfolio {
        &::before { @include portfolioButtonShadow; }
        &:focus,
        &:hover { @include portfolioButton; }
      }

      &--archviz {
        &::before { @include archvizButtonShadow; }
        &:focus,
        &:hover { @include archvizButton; }
      }

      &--quotes {
        &::before { @include quotesButtonShadow; }
        &:focus,
        &:hover { @include quotesButton; }
      }

      &--other {
        &::before { @include otherButtonShadow; }
        &:focus,
        &:hover { @include otherButton; }
      }
    }
  }
  
  @media only screen and (min-width: $media-sm) {

    & {
      margin: 0.5em $offset-right-sm 0 $offset-left-sm;
    }
  }
  
  @media only screen and (min-width: $media-md) {

    & {
      margin: 0;
      margin-top: 15px;
      width: 100%;
    }
  }
}

.footer {
  border-top: 2px solid $color-contact-dark;
  color: $color-contact-dark;
  font-size: 14px;
  grid-area: footer;
  margin: $offset-right-xs;
  margin-bottom: 0;
  padding-top: $offset-right-xs;
  text-align: center;

  &__text {
    margin: 0;
  }
  
  @media only screen and (min-width: $media-md) {

    & {
      margin: 0;
      text-align: left;
    }
  }
}