@import 'variables.scss';
@import 'mixins.scss';

.pageContainer {  
  display: none;
  overflow: hidden;
  width: 100%;
  
  &--visible {
    display: block;
  }
}
//| SECTION                                                                 |//
.section {
  align-items: flex-start;
  display: flex;
  min-height: 100vh;
  padding-bottom: 60px;
  position: relative;
  width: 100%;

  &--about {
    background-color: $color-about;
  }
  &--resume {
    background-color: $color-resume;
  }
  &--tasktimer {
    background-color: $color-tasktimer;
  }
  &--portfolio {
    background-color: $color-portfolio;
  }
  &--hydrapp {
    background-color: $color-hydrapp;
  }
  &--archviz {
    background-color: $color-archviz;
  }
  &--quotes {
    background-color: $color-quotes;
  }
  &--other {
    background-color: $color-other;
  }
  &--contact {
    background-color: $color-contact;
  }

  @media only screen and (min-width: $media-lg) {

    & {
      align-items: center;
      box-shadow: inset 0 0 150px rgba($color: #000000, $alpha: 0.2);
      padding: 0;
    }
  }
  //: SECTION'S CONTAINER                                              ://
  &__container {
    align-items: start;
    display: grid;
    width: 100%;

    &--about {
      grid-template-areas:
      "heading  heading    "
      ".        photography"
      ".        description"
      "profiles profiles   "
      "working  working    "
      "knowing  knowing    "
      "learning learning   ";
      grid-template-columns: 60px 1fr;
    }

    &--resume {
      align-content: start;
      grid-template-areas:
      "heading    heading   "
      ".          logo      "
      "experience experience"
      "education  education "
      "languages  languages ";
      grid-template-columns: 60px 1fr;
    }

    &--tasktimer,
    &--portfolio,
    &--hydrapp,
    &--archviz,
    &--quotes {
      grid-template-areas:
      "heading      heading      "
      ".            logo         "
      "description  description  "
      "technologies technologies "
      "stats        stats        "
      "repoLinks    repoLinks    ";
      grid-template-columns: $offset-left-sm 1fr;
    }

    &--other {
      grid-template-areas:
      "heading    "
      "logo       "
      "description"
      "otherRepos ";
      grid-template-columns: 1fr;
    }

    &--contact {
      grid-template-areas:
      "heading    "
      "contactForm";
      grid-template-columns: 1fr;
      grid-template-rows: auto 1fr;
    }

    @media only screen and (min-width: $media-lg) {

      & {
        margin-left: 540px;
        //max-height: 800px;
        max-width: 800px;
        min-height: 800px;
        min-width: 600px;

        &--about {
          column-gap: 20px;
          grid-template-areas:
          "heading      heading      photography "
          "description  description  photography "
          "github       codewars     photography "
          "titleWorking titleWorking titleWorking"
          "iconsWorking iconsWorking iconsWorking"
          "titleKnow    titleKnow    titleKnow   "
          "iconsKnow    iconsKnow    iconsKnow   "
          "titleLearn   titleLearn   titleLearn  "
          "iconsLearn   iconsLearn   iconsLearn  ";
          grid-template-columns: auto 1fr 40%;
          grid-template-rows: auto auto auto 1fr;
        }

        &--tasktimer,
        &--portfolio,
        &--hydrapp,
        &--archviz,
        &--quotes {
          column-gap: 20px;
          grid-template-areas:
          "heading      heading      heading     "
          "description  description  description "
          "readMore     readMore     readMore    "
          "statistics   codeButton   demoButton  "
          "technologies technologies technologies";
          grid-template-columns: 1fr repeat(2, auto);
          grid-template-rows: auto auto 1fr;
        }

        &--other {
          grid-template-areas:
          "heading    "
          "description"
          "readMore   "
          "otherRepos ";
          grid-template-columns: 1fr;
          grid-template-rows: repeat(3, auto) 1fr;
        }
      }
    }
  }
  //: end of SECTION'S CONTAINER                                       ://
  //: SECTION'S HEADING                                                ://
  &__heading {
    border-left: 8px solid transparent;
    color: #fff;
    font-size: 50px;
    font-weight: normal;
    grid-area: heading;
    line-height: 1.2;
    margin: 0 $offset-right-sm 0 0;
    padding: 75px 0 25px 20px;
    position: relative;
    width: 100%;
    z-index: 1;

    &--large {
      font-size: 72px;
      line-height: 1;
    }

    &--about     {
      border-color: $color-about-diff;
      color: $color-about-diff;
    }
    &--resume    {
      border-color: $color-resume-diff;
      color: $color-resume-diff;
    }
    &--tasktimer {
      border-color: $color-tasktimer-diff;
      color: $color-tasktimer-diff;
    }
    &--portfolio {
      border-color: $color-portfolio-diff;
      color: $color-portfolio-diff;
    }
    &--hydrapp   {
      border-color: $color-hydrapp-diff;
      color: $color-hydrapp-diff;
    }
    &--archviz   {
      border-color: $color-archviz-diff;
      color: $color-archviz-diff;
    }
    &--quotes    {
      border-color: $color-quotes-diff;
      color: $color-quotes-diff;
    }
    &--other     {
      border-color: $color-other-diff;
      color: $color-other-diff;
    }
    &--contact   {
      border-color: $color-contact-diff;
      color: $color-contact-diff;
      font-size: 4em;
    }
    
    @media only screen and (min-width: $media-lg) {

      & {
        border-left: none;
        font-size: 4.5em;
        margin-top: 0;
        padding-left: 0;

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: -55px;
          background-color: #fff;
          width: 10px;
          height: 100%;
        }
      }
    }
  }

  &__description {
    font-family: 'Antonio Regular';
    font-size: 1.2em;
    grid-area: description;
    line-height: 1.5;
    margin: 50px $offset-right-sm 0 0;

    &--large {
      font-family: 'Antonio Bold';
      font-size: 1.5em;
      margin: 20px 0;
    }

    &--about {
      color: $color-about-white;
    }
    &--tasktimer {
      color: $color-tasktimer-white;
    }
    &--portfolio {
      color: $color-portfolio-white;
    }
    &--hydrapp {
      color: $color-hydrapp-white;
    }
    &--archviz {
      color: $color-archviz-white;
    }
    &--quotes {
      color: $color-quotes-white;
    }
    &--other {
      color: $color-other-white;
    }

    @media only screen and (min-width: $media-lg) {

      & {
        font-size: 2em;
      }
    }
  }

  &__photo {
    background: $color-about-white;
    grid-area: photography;
    margin-top: -50px;
    width: 100%;

    @media only screen and (min-width: $media-lg) {

      & {
        border: 10px solid $color-about-white;
      }
    }
  }

  &__svg {
    display: none;
  }

  &__otherRepos {
    align-self: stretch;
    display: grid;
    grid-area: otherRepos;
    margin-top: 1em;
  }
}
//| end of SECTION                                                          |//
//| SECTION'S STATS                                                         |//
.stats {
  border-collapse: collapse;
  margin: 0 $offset-right-sm 0 $offset-left-sm;
  
  &--tasktimer {
    color: $color-tasktimer-light;
  }
  &--portfolio {
    color: $color-portfolio-light;
  }
  &--hydrapp {
    color: $color-hydrapp-light;
  }
  &--archviz {
    color: $color-archviz-light;
  }
  &--quotes {
    color: $color-quotes-light;
  }

  &__header {
    display: none;
  }

  &__col {
    padding-top: 0.3em;
    width: 100%;

    &--second {
      text-align: right;
    }
  }
}
//| end of SECTION'S STATS                                                  |//
//| CODE AND DEMO LINKS                                                     |//
.repoLinks {
  border-top: 3px solid transparent;
  column-gap: 10px;
  display: grid;
  font-size: 2em;
  grid-area: repoLinks;
  grid-template-columns: repeat(2, 1fr);
  margin: 30px $offset-right-sm 0;
  padding-top: 30px;

  &--about     { border-color: $color-about-diff; }
  &--tasktimer { border-color: $color-tasktimer-diff; }
  &--portfolio { border-color: $color-portfolio-diff; }
  &--hydrapp   { border-color: $color-hydrapp-diff; }
  &--archviz   { border-color: $color-archviz-diff; }
  &--quotes    { border-color: $color-quotes-diff; }

  &--other {
    border: none;
    margin: 0 $offset-right-sm 0 $offset-left-sm;
  }

  &__link {
    @include flex-center;
    border: 3px solid transparent;
    min-width: 50px;
    padding: 0.3em 0.5em;
    text-decoration: none;
    text-transform: uppercase;

    &--about {
      border-color: inherit;
      color: $color-about-diff;
      &:hover {
        border-color: $color-about-shadow;
        color: $color-about-shadow;
      }
    }
    &--tasktimer {
      border-color: inherit;
      color: $color-tasktimer-diff;
      &:hover {
        border-color: $color-tasktimer-shadow;
        color: $color-tasktimer-shadow;
      }
    }
    &--portfolio {
      border-color: inherit;
      color: $color-portfolio-diff;
      &:hover {
        border-color: $color-portfolio-shadow;
        color: $color-portfolio-shadow;
      }
    }
    &--hydrapp {
      border-color: inherit;
      color: $color-hydrapp-diff;
      &:hover {
        border-color: $color-hydrapp-shadow;
        color: $color-hydrapp-shadow;
      }
    }
    &--archviz {
      border-color: inherit;
      color: $color-archviz-diff;
      &:hover {
        border-color: $color-archviz-shadow;
        color: $color-archviz-shadow;
      }
    }
    &--quotes {
      border-color: inherit;
      color: $color-quotes-diff;
      &:hover {
        border-color: $color-quotes-shadow;
        color: $color-quotes-shadow;
      }
    }
    &--other {
      border-color: inherit;
      color: $color-other-white;
      &:hover {
        border-color: $color-other-shadow;
        color: $color-other-shadow;
      }
    }

    @media only screen and (min-width: $media-lg) {

      & {
        padding: 0.4em 1.3em;

        &--github,
        &--codewars {
          font-size: 1.5em;
        }
      }
    }
  }
}
//| end of CODE AND DEMO LINKS                                              |//