@import 'variables.scss';
@import 'mixins.scss';

//| TAB AND SUBTABS                                                         |//
.tab,
.subtab {
  position: relative;
  margin-top: 20px;
  //: ABOUT                                                            ://
  &--profiles { grid-area: profiles; }
  &--working { grid-area: working; }
  &--knowing { grid-area: knowing; }
  &--learning { grid-area: learning; }
  //: RESUME                                                           ://
  &--resume {
    color: $color-resume-diff;
  }
  &--experience {
    grid-area: experience;
  }
  &--education {
    grid-area: education;
  }
  &--languages {
    grid-area: languages;
  }
  //: PROJECT                                                          ://
  &--description,
  &--features {
    display: flex;
    flex-direction: column;
    grid-area: description;
    height: 100%;
    overflow: initial;
    z-index: 3;
  }
  &--features {
    grid-area: features;
  }
  //&--tasktimer { color: $color-tasktimer-shadow; }
  &--category {
    margin: 0 $offset-right-sm 0 $separator-width-thick + $tabGap;
  }
  &--technologies {
    grid-area: technologies;
  }
  &--stats {
    font-family: 'Antonio Regular';
    font-size: 1.3em;
    grid-area: stats;
    overflow: initial;
    text-transform: lowercase;
  }
  //: RESUME                                                           ://
  &--other {
    color: $color-other-diff;
  }

  &--social {
    grid-area: social;
  }

  @media only screen and (min-width: $media-lg) {

    & {
      margin-top: 0;

      &--description {
        padding-right: 20px;
      }
      
      &--features {
        padding-right: 20px;
      }

      &--category {
        margin: 0;
      }

      &--other {
        margin: 0;

        &:hover {
          
          & .mark {
            background-color: $color-other-diff;
            height: 100px;
            transition:
              background-color $tabHeader-time,
              height $tabHeader-time $tabHeader-time ease-out,
              width $tabHeader-time ease-in;
            width: $separator-width-thick;
          }

          & .tab__button--other {
            color: $color-other-diff;
            padding-left: $otherHeading-size-lg;
            transition:
              color $tabHeader-time,
              padding-left $tabHeader-time;
          }

          & .tab__description--other {
            color: $color-other-white;
            transition:
              color $tabHeader-time;
          }
        }
      }
    }
  }

  &__header {
    align-items: flex-start;
    display: flex;
    font-size: $tabHeader-size-sm;
    line-height: 1;
    margin: 0;
    position: relative;
    z-index: 2;

    &--category {
      font-size: $features-category-size-sm;
    }

    &--tasktimer { color: $color-tasktimer-shadow; }
    &--portfolio { color: $color-tasktimer-shadow; }
    &--hydrapp   { color: $color-tasktimer-shadow; }
    &--archviz   { color: $color-tasktimer-shadow; }
    &--quotes    { color: $color-tasktimer-shadow; }
    
    &--other {
      font-size: $otherHeading-size-sm;
    }

    @media only screen and (min-width: $media-lg) {
  
      & {
        font-size: $tabHeader-size-lg;

        &--category {
          font-size: $features-category-size-lg;
        }

        &--other {
          font-size: $otherHeading-size-lg;
        }
      }
    }
  }

  &__heading {
    align-self: end;
    font-size: $tabHeading-size-sm;
    line-height: 1;
    margin: 0;
    margin-bottom: 20px;
    padding-left: $tabHeading-size-sm;
    position: relative;
    text-transform: uppercase;
    z-index: 1;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width:  $separator-width-thick;
      height: 110px;
    }

    &--about {
      color: $color-about-diff;
      &::before { background-color: $color-about-diff; }
    }
    &--tasktimer {
      color: $color-tasktimer-diff;
      &::before { background-color: $color-tasktimer-diff; }
    }
    &--portfolio {
      color: $color-portfolio-diff;
      &::before { background-color: $color-portfolio-diff; }
    }
    &--hydrapp {
      color: $color-hydrapp-diff;
      &::before { background-color: $color-hydrapp-diff; }
    }
    &--archviz {
      color: $color-archviz-diff;
      &::before { background-color: $color-archviz-diff; }
    }
    &--quotes {
      color: $color-quotes-diff;
      &::before { background-color: $color-quotes-diff; }
    }
    &--other {
      color: $color-other-diff;
      &::before { background-color: $color-other-diff; }
    }

    @media only screen and (min-width: $media-lg) {

      & {
        padding: 0;
        font-size: $tabHeading-size-lg;

        &--technologies {
          display: none;
        }
        
        &--aboutMe,
        &--profiles {
          display: none;
        }

        &::before {
          height: 70px;
          left: -20px;
          width: $separator-width-thin;
        }
      }
    }
  }

  &__description {
    font-family: 'Antonio Regular';
    font-size: 18px;
    line-height: 1.4;
    margin: 0 $offset-right-sm 10px $offset-left-sm;

    &--small {
      font-family: 'Antonio Bold';
      font-size: 1em;
    }

    &--about {
      font-family: 'Antonio Bold';
      font-size: 1.5em;
      color: $color-about-white;
      margin-bottom: 20px;
    }
    &--tasktimer {
      color: $color-tasktimer-white;
    }
    &--portfolio {
      color: $color-portfolio-white;
    }
    &--hydrapp {
      color: $color-hydrapp-white;
    }
    &--archviz {
      color: $color-archviz-white;
    }
    &--quotes {
      color: $color-quotes-white;
    }
    &--other {
      color: $color-other-white;

      &.tab__description--small {
        color: $color-other-shadow;
      }
    }

    @media only screen and (min-width: $media-lg) {

      & {
        margin: 0;
        line-height: 1.6;

        &--tasktimer {
          margin-bottom: 10px;
        }
      }
    }
  }

  &__button {
    @include button;
    align-items: center;
    display: flex;
    height: $tabHeader-size-sm;
    line-height: 1;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    padding-left: $tabHeader-size-sm + $tabGap;
    position: relative;
    text-align: left;
    text-transform: uppercase;
    transition:
      color $tabHeader-time $tabHeader-time,
      padding-left $tabHeader-time $tabHeader-time ease-out;
    width: 100%;

    &--resume {
      color: $color-resume-dark;
    }

    &--category {
      height: $features-category-size-sm;
      margin-bottom: $features-category-size-sm;
      padding-left: $features-category-size-sm + $tabGap;
    }
    
    &--tasktimer {
      color: $color-tasktimer-white;
    }
    &--portfolio {
      color: $color-portfolio-white;
    }
    &--hydrapp {
      color: $color-hydrapp-white;
    }
    &--quotes {
      color: $color-quotes-white;
    }
    
    &--other {
      color: $color-other-shadow;
      height: $otherHeading-size-sm;
    }

    &--unrolled {
      color: inherit;
      padding-left: $tabHeader-size-sm;
      transition:
        color $tabHeader-time,
        padding-left $tabHeader-time ease-in;
    }

    @media only screen and (min-width: $media-lg) {

      & {
        height: $tabHeader-size-lg;
        padding-left: $tabHeader-size-lg + $tabGap;

        &--category {
          height: $features-category-size-lg;
          margin-bottom: $features-category-size-lg;
          padding-left: $features-category-size-lg + $tabGap;
        }

        &--other {
          height: $otherHeading-size-lg;
          padding-left: $otherHeading-size-lg + $tabGap;
        }

        &--unrolled {
          padding-left: $separator-width-thick + $tabGap;
        }
      }
    }
  }

  &__readMore {
    align-self: flex-end;
    background: none;
    border: none;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    display: none;
    font-size: 1em;
    grid-area: readMore;
    margin: 10px $offset-right-sm 10px $offset-left-sm;
    padding: 0.2em 0;
    text-transform: uppercase;

    &--visible {
      display: block;
    }

    &--tasktimer {
      border-color: $color-tasktimer-light;
      color: $color-tasktimer-light;
    }
    &--portfolio {
      border-color: $color-portfolio-light;
      color: $color-portfolio-light;
    }
    &--hydrapp {
      border-color: $color-hydrapp-light;
      color: $color-hydrapp-light;
    }
    &--archviz {
      border-color: $color-archviz-light;
      color: $color-archviz-light;
    }
    &--quotes {
      border-color: $color-quotes-light;
      color: $color-quotes-light;
    }
    &--other {
      border-color: $color-other-light;
      color: $color-other-light;
    }

    @media only screen and (min-width: $media-lg) {

      & {
        margin: 0;
        margin-top: 10px;
      }
    }
  }
}

.subtab {

  &--resume {
    margin-left: $separator-width-thick + $tabGap;
    margin-top: 0;
  }

  &__header {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    &--resume {
      font-size: $tabHeader-size-sm;
      z-index: 1;
    }
  }

  &__button {

    &--resume {
      color: $color-resume-dark;
    }

    &--unrolled {
      color: inherit;
    }
  }

  @media only screen and (min-width: $media-lg) {

    & {

      &__header {

        &--resume {
          font-size: $tabHeader-size-lg;
        }
      }
    }
  }
}