@import 'variables.scss';
@import 'mixins.scss';

.technologies {

  &__category {
    align-self: end;
    color: $color-about-white;
    font-size: 1.5em;
    margin: 1em 0 0.5em;
    text-transform: uppercase;

    &--working { grid-area: titleWorking; }
    &--know { grid-area: titleKnow; }
    &--learn { grid-area: titleLearn; }
  }

  &__list {
    align-items: start;
    column-gap: 7px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    list-style-type: none;
    margin: 0;
    padding: 0;

    &--working { grid-area: iconsWorking; }
    &--know { grid-area: iconsKnow; }
    &--learn { grid-area: iconsLearn; }
    &--used {
      grid-area: technologies;
      margin-top: 2em;
    }
  }

  &__item {
    @include flex-center;
    flex-direction: column;
  }

  &__logo {
    @include flex-center;
    position: relative;

    /* &:hover {
      border-color: $color-about-white;
      fill: $color-about-white
    } */

    &--about {
      border: 3px solid $color-about-dark;
      fill: $color-about-dark;
    }
    &--tasktimer {
      border: 3px solid $color-tasktimer-dark;
      fill: $color-tasktimer-dark;
    }
    &--tasktimerUsed {
      border: 3px solid $color-tasktimer-white;
      fill: $color-tasktimer-white;
    }
    &--portfolio {
      border: 3px solid $color-portfolio-dark;
      fill: $color-portfolio-dark;
    }
    &--portfolioUsed {
      border: 3px solid $color-portfolio-white;
      fill: $color-portfolio-white;
    }
    &--hydrapp {
      border: 3px solid $color-hydrapp-dark;
      fill: $color-hydrapp-dark;
    }
    &--hydrappUsed {
      border: 3px solid $color-hydrapp-shadow;
      fill: $color-hydrapp-shadow;
    }
    &--archviz {
      border: 3px solid $color-archviz-dark;
      fill: $color-archviz-dark;
    }
    &--archvizUsed {
      border: 3px solid $color-archviz-shadow;
      fill: $color-archviz-shadow;
    }
    &--quotes {
      border: 3px solid $color-quotes-dark;
      fill: $color-quotes-dark;
    }
    &--quotesUsed {
      border: 3px solid $color-quotes-shadow;
      fill: $color-quotes-shadow;
    }
  }

  &__name {
    color: $color-about-dark;
    font-size: 0.75em;
    margin-top: 0.3em;
    text-transform: uppercase;
    word-break: break-all;

    &--tasktimer {
      color: $color-tasktimer-dark;
    }
    &--tasktimerUsed {
      color: $color-tasktimer-white;
    }
    &--portfolio {
      color: $color-portfolio-dark;
    }
    &--portfolioUsed {
      color: $color-portfolio-white;
    }
    &--hydrapp {
      color: $color-hydrapp-dark;
    }
    &--hydrappUsed {
      color: $color-hydrapp-shadow;
    }
    &--archviz {
      color: $color-archviz-dark;
    }
    &--archvizUsed {
      color: $color-archviz-shadow;
    }
    &--quotes {
      color: $color-quotes-dark;
    }
    &--quotesUsed {
      color: $color-quotes-shadow;
    }
  }

  &__svg {
    width: 100%;

    &--faded1,
    &--faded2 {
      height: 100%;
      left: 0;
      opacity: 0.75;
      position: absolute;
      top: 0;
      width: 100%;
    }

    &--faded2 {
      opacity: 0.5;
    }
  }
}