//| MENU |
$time-switch: 0.4s;

//| ABOUT |
$color-about-white: #BBD3E0;
$color-about-light: #729AB0;
$color-about: #4F7B94;
$color-about-dark: #244456;
$color-about-shadow: #11222c;
$color-about-diff: #ADA795;

//| RESUME |
//: COLORS :
$color-resume-white: #EED5DB;
$color-resume-light: #C993A0;
$color-resume: #A7586B;
$color-resume-dark: rgb(119, 56, 72);
$color-resume-shadow: rgb(66, 31, 40);
$color-resume-diff: #244E60;
//: TIME :
$time-resume: 0.5s;

//| TASKTIMER |
$color-tasktimer-white: #C5D8D9;
$color-tasktimer-light: #9AB5B6;
$color-tasktimer: #50787C;
$color-tasktimer-dark: #305B60;
$color-tasktimer-letter: #744953;
$color-tasktimer-shadow: rgb(35, 53, 54);
$color-tasktimer-shadowLetter: #411e27;
$color-tasktimer-diff: #4F3D41;

//| HYDRAPP |
$color-hydrapp-white: #D5F0F5;
$color-hydrapp-light: #A5DEEB;
$color-hydrapp: #63BFD3;
$color-hydrapp-dark: #3B99AE;
$color-hydrapp-shadow: #2B5862;
$color-hydrapp-diff: #64574F;

//| ARCHVIZ |
$color-archviz-white: #EEE7D6;
$color-archviz-light: #E5C887;
$color-archviz: #D2A239;
$color-archviz-dark: #B98922;
$color-archviz-shadow: #715822;
$color-archviz-diff: #4C4864;

//| QUOTES |
$color-quotes-white: #E7EBBF;
$color-quotes-light: #D0DA61;
$color-quotes: #B9C52F;
$color-quotes-dark: #A4AE32;
$color-quotes-shadow: #5B620F;
$color-quotes-diff: #5C5663;

//| OTHER |
$color-other-white: #D8D2EA;
$color-other-light: #998BC0;
$color-other: #7868A6;
$color-other-dark: #6B5F8D;
$color-other-shadow: #4C4560;
$color-other-diff: #BBAA11;

//| CONTACT |
$color-contact-white: #D7E8CD;
$color-contact-light: #A7CA92;
$color-contact: #7DAD60;
$color-contact-dark: #6E9457;
$color-contact-shadow: #4C663C;
$color-contact-diff: #635451;