// ABOUT
$color-about-white: #BBD3E0;
$color-about-light: #729AB0;
$color-about: #4F7B94;
$color-about-dark: #244456;
$color-about-diff: #ADA795;
// RESUME
$color-resume-white: #EED5DB;
$color-resume-light: #C993A0;
$color-resume: #A7586B;
$color-resume-dark: rgb(119, 56, 72);
$color-resume-diff: #244E60;