// INTRO
$intro-background-color: rgb(30, 30, 30);
$intro-link-color: rgb(60, 60, 60);

// ABOUT
$color-about: #24b1dc;
$color-about-accent: #03d4c3;
$color-about-white: mix($color-about, #fff, 20%);
$color-about-light: mix($color-about, #fff, 40%);
$color-about-dark: mix($color-about, #000, 20%);
$color-about-black: mix($color-about, #000, 10%);

// RESUME
$color-resume: #0980cf;
$color-resume-accent: #b02f4d;
$color-resume-white: mix($color-resume, #fff, 20%);
$color-resume-light: mix($color-resume, #fff, 40%);
$color-resume-dark: mix($color-resume, #000, 20%);
$color-resume-black: mix($color-resume, #000, 10%);

// GLOB3D
$color-glob3d: #4638d7;
$color-glob3d-accent: #e5a110;
$color-glob3d-white: mix($color-glob3d, #fff, 20%);
$color-glob3d-light: mix($color-glob3d, #fff, 40%);
$color-glob3d-dark: mix($color-glob3d, #000, 20%);
$color-glob3d-black: mix($color-glob3d, #000, 10%);

// TASKTIMER
$color-tasktimer: #b445dc;
$color-tasktimer-accent: #44b7b9;
$color-tasktimer-white: mix($color-tasktimer, #fff, 20%);
$color-tasktimer-light: mix($color-tasktimer, #fff, 40%);
$color-tasktimer-dark: mix($color-tasktimer, #000, 20%);
$color-tasktimer-black: mix($color-tasktimer, #000, 10%);
$color-tasktimer-letter: #703035;
$color-tasktimer-letterShadow: #441c20;

// HYDRAPP
$color-hydrapp: #dc45cd;
$color-hydrapp-accent: #48bef9;
$color-hydrapp-white: mix($color-hydrapp, #fff, 20%);
$color-hydrapp-light: mix($color-hydrapp, #fff, 40%);
$color-hydrapp-dark: mix($color-hydrapp, #000, 20%);
$color-hydrapp-black: mix($color-hydrapp, #000, 10%);

// PORTFOLIO
$color-portfolio: #dc4591;
$color-portfolio-accent: #e9bd1e;
$color-portfolio-white: mix($color-portfolio, #fff, 20%);
$color-portfolio-light: mix($color-portfolio, #fff, 40%);
$color-portfolio-dark: mix($color-portfolio, #000, 20%);
$color-portfolio-black: mix($color-portfolio, #000, 10%);

// ARCHVIZ
$color-archviz: #934949;
$color-archviz-accent: #e46a29;
$color-archviz-white: mix($color-archviz, #fff, 20%);
$color-archviz-light: mix($color-archviz, #fff, 40%);
$color-archviz-dark: mix($color-archviz, #000, 20%);
$color-archviz-black: mix($color-archviz, #000, 10%);

// CONTACT
$color-contact: #744e43;
$color-contact-accent: #2dbdd3;
$color-contact-white: mix($color-contact, #fff, 20%);
$color-contact-light: mix($color-contact, #fff, 40%);
$color-contact-dark: mix($color-contact, #000, 20%);
$color-contact-black: mix($color-contact, #000, 10%);

$colors: (
  // about
  about: $color-about,
  about-accent: $color-about-accent,
  about-white: $color-about-white,
  about-light: $color-about-light,
  about-dark: $color-about-dark,
  about-black: $color-about-black,

  // resume
  resume: $color-resume,
  resume-accent: $color-resume-accent,
  resume-white: $color-resume-white,
  resume-light: $color-resume-light,
  resume-dark: $color-resume-dark,
  resume-black: $color-resume-black,

  // glob3d
  glob3d: $color-glob3d,
  glob3d-accent: $color-glob3d-accent,
  glob3d-white: $color-glob3d-white,
  glob3d-light: $color-glob3d-light,
  glob3d-dark: $color-glob3d-dark,
  glob3d-black: $color-glob3d-black,

  // tasktimer
  tasktimer: $color-tasktimer,
  tasktimer-accent: $color-tasktimer-accent,
  tasktimer-white: $color-tasktimer-white,
  tasktimer-light: $color-tasktimer-light,
  tasktimer-dark: $color-tasktimer-dark,
  tasktimer-black: $color-tasktimer-black,

  // hydrapp
  hydrapp: $color-hydrapp,
  hydrapp-accent: $color-hydrapp-accent,
  hydrapp-white: $color-hydrapp-white,
  hydrapp-light: $color-hydrapp-light,
  hydrapp-dark: $color-hydrapp-dark,
  hydrapp-black: $color-hydrapp-black,

  // portfolio
  portfolio: $color-portfolio,
  portfolio-accent: $color-portfolio-accent,
  portfolio-white: $color-portfolio-white,
  portfolio-light: $color-portfolio-light,
  portfolio-dark: $color-portfolio-dark,
  portfolio-black: $color-portfolio-black,

  // archviz
  archviz: $color-archviz,
  archviz-accent: $color-archviz-accent,
  archviz-white: $color-archviz-white,
  archviz-light: $color-archviz-light,
  archviz-dark: $color-archviz-dark,
  archviz-black: $color-archviz-black,

  // contact
  contact: $color-contact,
  contact-accent: $color-contact-accent,
  contact-white: $color-contact-white,
  contact-light: $color-contact-light,
  contact-dark: $color-contact-dark,
  contact-black: $color-contact-black
);
