@import '../styles/variables.scss';

@mixin flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

@mixin button {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
}

@mixin shadow {
  border-left-width: 8px;
  border-top-width: 8px;
}

// each view of the app
@mixin section {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  max-height: none;
  position: relative;
  scroll-snap-align: start;
  width: 100%;

  &.about {
    background-color: $color-about;
  }
  &.resume {
    background-color: $color-resume;
  }
  &.glob3d {
    background-color: $color-glob3d;
  }
  &.tasktimer {
    background-color: $color-tasktimer;
  }
  &.hydrapp {
    background-color: $color-hydrapp;
  }
  &.portfolio {
    background-color: $color-portfolio;
  }
  &.archviz {
    background-color: $color-archviz;
  }
  &.quotes {
    background-color: $color-quotes;
  }
  &.contact {
    background-color: $color-contact;
  }

  @media only screen and (min-width: $media-m) {
    align-items: center;
    justify-content: center;
    padding: 0;
    padding-left: $menu-width-m + 100px;

    &.about {
      background-color: $color-about;
      background: radial-gradient(
        circle,
        $color-about 0%,
        $color-about 60%,
        $color-about-dark 100%
      );
    }
    &.resume {
      background-color: $color-resume;
      background: radial-gradient(
        circle,
        $color-resume 0%,
        $color-resume 60%,
        $color-resume-dark 100%
      );
    }
    &.glob3d {
      background-color: $color-glob3d;
      background: radial-gradient(
        circle,
        $color-glob3d 0%,
        $color-glob3d 70%,
        $color-glob3d-dark 100%
      );
    }
    &.tasktimer {
      background-color: $color-tasktimer;
      background: radial-gradient(
        circle,
        $color-tasktimer 0%,
        $color-tasktimer 70%,
        $color-tasktimer-dark 100%
      );
    }
    &.hydrapp {
      background-color: $color-hydrapp;
      background: radial-gradient(
        circle,
        $color-hydrapp 0%,
        $color-hydrapp 40%,
        $color-hydrapp-dark 100%
      );
    }
    &.portfolio {
      background-color: $color-portfolio;
      background: radial-gradient(
        circle,
        $color-portfolio 0%,
        $color-portfolio 40%,
        $color-portfolio-dark 100%
      );
    }
    &.archviz {
      background-color: $color-archviz;
      background: radial-gradient(
        circle,
        $color-archviz 0%,
        $color-archviz 40%,
        $color-archviz-dark 100%
      );
    }
    &.quotes {
      background-color: $color-quotes;
      background: radial-gradient(
        circle,
        $color-quotes 0%,
        $color-quotes 40%,
        $color-quotes-dark 100%
      );
    }
    &.contact {
      background-color: $color-contact;
      background: radial-gradient(
        circle,
        $color-contact 0%,
        $color-contact 40%,
        $color-contact-dark 100%
      );
    }
  }

  @media only screen and (min-width: $media-l) {
    justify-content: center;
    padding-left: $menu-width-l + 100px;
  }
}

// each section's container
@mixin container {
  align-items: start;
  align-content: stretch;
  display: grid;
  gap: 25px;
  column-gap: 60px;
  padding: 0 $offset-right-s $menu-item-height $offset-left-s;
  transition: opacity 1s, transform 0.3s ease-out;
  width: 100%;

  @media only screen and (min-width: $media-m) {
    padding: 0;
    margin-right: 100px;

    &.prev {
      opacity: 0;
      transform: translateY(-20%);
    }

    &.current {
      opacity: 1;
      transform: translateY(0);
    }

    &.next {
      opacity: 0;
      transform: translateY(20%);
    }
  }

  @media screen and (min-width: $media-l) {
    max-width: 1800px;
  }
}

@mixin sectionTitle {
  font-size: 60px;
  grid-area: title;
  line-height: 1.2;
  margin: 0;
  margin-bottom: 30px;
  position: relative;
  width: 100%;
  z-index: 2;

  &.about {
    border-color: $color-about-diff;
    color: $color-about-light;
  }
  &.resume {
    border-color: $color-resume-diff;
    color: $color-resume-light;
  }
  &.contact {
    border-color: $color-contact-diff;
    color: $color-contact-light;
  }

  @media only screen and (min-width: $media-m) {
    border: none;
    font-size: 72px;
    margin: 0;
    max-width: 60%;
    min-width: 380px;
    padding: 0;
    width: 100%;
  }

  @media only screen and (min-width: $media-l) {
    max-width: none;
  }
}

@mixin normalText($color) {
  color: map-get($colors, #{$color}-white);
  font-size: 1.1rem;
  line-height: 1.7;
  margin: 0;
  padding: 0;
  padding-left: $text-indent;

  @media screen and (min-width: $media-m) {
    padding-left: 0;
  }
}
