@mixin flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

@mixin button {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
}

@mixin shadow {
  border-left-width: 8px;
  border-top-width: 8px;
}

// each view of the app
@mixin section {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  max-height: none;
  padding: 0 2fr 0 1fr;
  position: relative;
  scroll-snap-align: start;
  width: 100%;

  @media only screen and (min-width: $media-m) {
    align-items: center;
    justify-content: flex-start;
    padding: 0 350px;
  }

  @media only screen and (min-width: $media-l) {
    padding: 0 500px;
  }

  &.about {
    background-color: $color-about;
  }
  &.resume {
    background-color: $color-resume;
  }
  &.tasktimer {
    background-color: $color-tasktimer;
  }
  &.hydrapp {
    background-color: $color-hydrapp;
  }
  &.portfolio {
    background-color: $color-portfolio;
  }
  &.archviz {
    background-color: $color-archviz;
  }
  &.quotes {
    background-color: $color-quotes;
  }
  &.other {
    background-color: $color-other;
  }
  &.contact {
    background-color: $color-contact;
  }
}

// each section's container
@mixin container {
  align-items: start;
  align-content: stretch;
  display: grid;
  gap: $gridGap;
  column-gap: 60px;
  padding: $menu-item-height $offset-right-s $menu-item-height $offset-left-s;
  width: 100%;

  &.about {
    grid-template-areas:
      'photo'
      'title'
      'description'
      'contact'
      'high'
      'medium'
      'low';
    width: 100%;
  }

  &.resume {
    grid-template-areas:
      'logo'
      'title'
      'info'
      'accordions';
  }

  &.tasktimer,
  &.portfolio,
  &.hydrapp,
  &.archviz,
  &.quotes {
    grid-template-areas:
      'logo        '
      'title     '
      'description '
      'features    '
      'icons'
      'stats       '
      'links   ';
  }

  &.other {
    grid-template-areas:
      'logo       '
      'title    '
      'description'
      'otherRepos ';
  }

  &.contact {
    grid-template-areas:
      'logo   '
      'title'
      'form   '
      'social '
      'footer ';
  }

  @media only screen and (min-width: $media-m) {
    padding: 60px 0;

    &.about {
      grid-template-areas:
        'title'
        'description'
        'contact'
        'high'
        'medium'
        'low';
      grid-template-columns: 1fr;
      grid-template-rows: auto 1fr repeat(4, auto);
      // min-height: $container-size;
    }

    &.resume {
      align-content: start;
      grid-template-areas:
        'title title'
        'info accordions';
      grid-template-columns: 1fr 2fr;
    }

    &.tasktimer,
    &.portfolio,
    &.hydrapp,
    &.archviz,
    &.quotes {
      grid-template-areas:
        'title      title     '
        'description  features    '
        'icons icons'
        'stats        links   ';
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto 1fr repeat(2, auto);
    }

    &.other {
      grid-template-areas:
        'title    '
        'description'
        'otherRepos ';
      grid-template-rows: auto 1fr auto;
    }

    &.contact {
      align-content: stretch;
      align-items: center;
      grid-template-areas:
        'title'
        'form   '
        'social '
        'footer ';
      grid-template-rows: auto 1fr;
    }
  }
}

@mixin sectionTitle {
  font-size: 60px;
  grid-area: title;
  line-height: 1.2;
  // padding: 30px 10px 0 20px;
  position: relative;
  width: 100%;
  z-index: 2;

  &.large {
    font-size: 72px;
    line-height: 1;
  }

  &.about {
    border-color: $color-about-diff;
    color: $color-about-light;
  }
  &.resume {
    border-color: $color-resume-diff;
    color: $color-resume-light;
  }
  &.tasktimer {
    border-color: $color-tasktimer-diff;
    color: $color-tasktimer-light;
  }
  &.hydrapp {
    border-color: $color-hydrapp-diff;
    color: $color-hydrapp-light;
  }
  &.portfolio {
    border-color: $color-portfolio-diff;
    color: $color-portfolio-light;
  }
  &.archviz {
    border-color: $color-archviz-diff;
    color: $color-archviz-light;
  }
  &.quotes {
    border-color: $color-quotes-diff;
    color: $color-quotes-light;
  }
  &.other {
    border-color: $color-other-diff;
    color: $color-other-light;
  }
  &.contact {
    border-color: $color-contact-diff;
    color: $color-contact-light;
  }

  @media only screen and (min-width: $media-m) {
    & {
      border: none;
      font-size: 72px;
      margin: $menu-item-height + $offset-right-m 0;
      margin-bottom: 0;
      max-width: 60%;
      min-width: 380px;
      padding: 0;
      width: 100%;
    }
  }

  @media only screen and (min-width: $media-l) {
    & {
      margin: 0;
      margin-bottom: 20px;
      max-width: none;
    }
  }
}

@mixin graphicInCorner {
  @media only screen and (min-width: $media-m) {
    position: absolute;
    margin: 0;
    max-width: 400px;
    right: 0;
    top: 50px;
  }

  @media only screen and (min-width: $media-l) {
    max-width: 500px;
  }
}

@mixin normalText($color) {
  color: map-get($colors, #{$color}-white);
  font-size: 1.1rem;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  padding-left: $offset-left-s;

  @media screen and (min-width: $media-m) {
    padding-left: 0;
  }
}
