@import 'variables.scss';
@import 'mixins.scss';

.browserupgrade {
  margin: 0.2em 0;
  background: $intro-background-color;
  color: #ccc;
  padding: 0.2em 0;
}

@font-face {
  font-family: 'Antonio Bold';
  src: url('../assets/fonts/Antonio-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Antonio Regular';
  src: url('../assets/fonts/Antonio-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Antonio Light';
  src: url('../assets/fonts/Antonio-Light.ttf') format('truetype');
}

html {
  box-sizing: border-box;
  scroll-behavior: auto;
  touch-action: manipulation;

  @media only screen and (min-width: $media-lg) {
    & {
      scroll-behavior: smooth;
    }
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: $intro-background-color;
  font-family: "Antonio Regular", Arial, sans-serif;
  font-size: 16px;
  -webkit-tap-highlight-color: transparent;
  scroll-snap-type: y proximity;
}

a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

.breakable {
  word-break: break-all;
}