// MEDIA
$media-s: 769px;
$media-m: 1201px;
$media-l: 1681px;

// MENU
$menu-sm-first-timeout: 0.3s;
$menu-sm-second-timeout: 0.5s;

$menu-item-height: 50px;
$menu-item-height-l: 65px;

// NAVIGATION
$navigation-border-arrow: 10px;
$navigation-offset: 70px;
$navigation-padding: 20px;
$navigation-size-arrows: 90px;
$navigation-size-back: $navigation-size-arrows - ($navigation-border-arrow * 2) +
  2px;
$navigation-size-button: $navigation-size-arrows + ($navigation-padding * 2);
$navigation-time: 0.3s;
$navigation-time-delay: 1s;
$navigation-time-rotate: 0.2s;

// LAYOUT
$offset-left-s: 15px;
$offset-right-s: 15px;

$container-size: 800px;
$menu-width-m: 300px;
$menu-width-l: 400px;
$mobile-menu-offset-top: 100px;

$text-indent: 25px;

$tabHeading-size-xs: 30px;
$tabHeading-size-lg: 30px;

$separator-width: 10px;
$separator-height: 60px;

$svg-opacity: 1;
$background-opacity: 0.7;

// TIME
$tabHeader-time: 0.2s;
$accordion-time: 0.5s;
$button-hover: 0.3s;

$time-menu-indicator: 0.6s;
