// INTRO
$intro-background-color: rgb(30, 30, 30);
$intro-link-color: rgb(60, 60, 60);

// MEDIA
$media-s: 769px;
$media-m: 1201px;
$media-l: 1681px;

// MENU
$time-switch: 0.4s;
$menu-sm-first-timeout: 0.3s;
$menu-sm-second-timeout: 0.5s;
$menu-lg-first-timeout: 0.5s;
$menu-lg-second-timeout: 0.5s;

$menu-item-height: 50px;
$menu-item-height-lg: 80px; // 90

// NAVIGATION
$navigation-border-arrow: 10px;
$navigation-offset: 70px;
$navigation-padding: 20px;
$navigation-size-arrows: 90px;
$navigation-size-back: $navigation-size-arrows - ($navigation-border-arrow * 2) +
  2px;
$navigation-size-button: $navigation-size-arrows + ($navigation-padding * 2);
$navigation-time: 0.3s;
$navigation-time-delay: 1s;
$navigation-time-rotate: 0.2s;

// LAYOUT
$offset-left-s: 25px;
$offset-right-s: 25px;
$offset-left-m: 50px;
$offset-right-m: 20px;

$offset-alert: 5px;

$container-size: 800px;
$menu-width: 300px;
$menu-width-l: 420px;
$mobile-menu-offset-top: 100px;

$tabHeading-size-xs: 30px;
$tabHeading-size-lg: 30px;

$tabGap-xs: 20px;
$tabGap-sm: 20px;
$gridGap: 25px;
$rowGap: 30px;

$separator-width: 10px;
$separator-height: 60px;

$svg-opacity: 0.3;
$background-opacity: 0.7;

// TIME
$tabHeader-time: 0.2s;
$expandable-time: 0.5s;
$accordion-time: 0.5s;
$button-hover: 0.3s;

$time-menu-indicator: 0.6s;

// ABOUT
$color-about: #2899b0;
$color-about-white: lighten($color-about, 50%);
$color-about-light: lighten($color-about, 40%);
$color-about-dark: darken($color-about, 14%);
$color-about-shadow: darken($color-about, 20%);
$color-about-diff: #44423e;
$color-about-diff-dark: darken($color-about-diff, 5%);

// RESUME
$color-resume: #ac5760;
$color-resume-white: lighten($color-resume, 20%);
$color-resume-light: lighten($color-resume, 0%);
$color-resume-dark: darken($color-resume, 16%);
$color-resume-shadow: darken($color-resume, 24%);
$color-resume-diff: #1c4658;
$color-resume-diff-dark: rgb(26, 63, 78);

// TASKTIMER
$color-tasktimer-white: #c5d8d9;
$color-tasktimer-light: #9ab5b6;
$color-tasktimer: #50787c;
$color-tasktimer-dark: #305b60;
$color-tasktimer-letter: #703035;
$color-tasktimer-letterShadow: #441c20;
$color-tasktimer-shadow: rgb(35, 53, 54);
$color-tasktimer-diff: #4f3d41;
$color-tasktimer-diff-dark: rgb(63, 47, 50);

// HYDRAPP
$color-hydrapp-white: #d3f3ff;
$color-hydrapp-light: #88b2c9;
$color-hydrapp: #2e6484;
$color-hydrapp-dark: #164d6b;
$color-hydrapp-shadow: #12344c;
$color-hydrapp-diff: rgb(168, 148, 131);
$color-hydrapp-diff-dark: rgb(82, 70, 62);

// PORTFOLIO
$color-portfolio-white: rgb(235, 184, 177);
$color-portfolio-light: rgb(197, 106, 94);
$color-portfolio: rgb(163, 67, 55);
$color-portfolio-dark: rgb(129, 51, 41);
$color-portfolio-shadow: rgb(83, 36, 30);
$color-portfolio-diff: rgb(67, 76, 88);
$color-portfolio-diff-dark: rgb(50, 59, 70);

// ARCHVIZ
$color-archviz-white: #eee7d6;
$color-archviz-light: #e5c887;
$color-archviz: #d2a239;
$color-archviz-dark: #b98922;
$color-archviz-shadow: #715822;
$color-archviz-diff: #4c4864;
$color-archviz-diff-dark: rgb(62, 58, 85);

// QUOTES
$color-quotes-white: #e7ebbf;
$color-quotes-light: rgb(217, 226, 118);
$color-quotes: #b9c52f;
$color-quotes-dark: #a4ae32;
$color-quotes-shadow: #5b620f;
$color-quotes-diff: #5c5663;
$color-quotes-diff-dark: rgb(74, 68, 80);

// OTHER
$color-other-white: #d8d2ea;
$color-other-light: #998bc0;
$color-other: #7868a6;
$color-other-dark: #6b5f8d;
$color-other-shadow: #4c4560;
$color-other-diff: #bbaa11;
$color-other-diff-dark: rgb(138, 125, 6);

// CONTACT
$color-contact-white: #d7e8cd;
$color-contact-light: rgb(175, 201, 142);
$color-contact: rgb(108, 145, 60);
$color-contact-dark: rgb(88, 119, 47);
$color-contact-shadow: rgb(77, 105, 41);
$color-contact-diff: #5c4e4b;
$color-contact-diff-dark: #493c3a;

$colors: (
  // about
  about: $color-about,
  about-white: $color-about-white,
  about-light: $color-about-light,
  about-dark: $color-about-dark,
  about-shadow: $color-about-shadow,
  about-diff: $color-about-diff,
  about-diff-dark: $color-about-diff-dark,
  // resume
  resume: $color-resume,
  resume-white: #eed5db,
  resume-light: $color-resume-light,
  resume-dark: $color-resume-dark,
  resume-shadow: $color-resume-shadow,
  resume-diff: $color-resume-diff,
  resume-diff-dark: $color-resume-diff-dark,
  // tasktimer
  tasktimer: $color-tasktimer,
  tasktimer-white: $color-tasktimer-white,
  tasktimer-light: $color-tasktimer-light,
  tasktimer-dark: $color-tasktimer-dark,
  tasktimer-shadow: $color-tasktimer-shadow,
  tasktimer-diff: $color-tasktimer-diff,
  tasktimer-diff-dark: $color-tasktimer-diff-dark,
  // hydrapp
  hydrapp: $color-hydrapp,
  hydrapp-white: $color-hydrapp-white,
  hydrapp-light: $color-hydrapp-light,
  hydrapp-dark: $color-hydrapp-dark,
  hydrapp-shadow: $color-hydrapp-shadow,
  hydrapp-diff: $color-hydrapp-diff,
  hydrapp-diff-dark: $color-hydrapp-diff-dark,
  // portfolio
  portfolio: $color-portfolio,
  portfolio-white: $color-portfolio-white,
  portfolio-light: $color-portfolio-light,
  portfolio-dark: $color-portfolio-dark,
  portfolio-shadow: $color-portfolio-shadow,
  portfolio-diff: $color-portfolio-diff,
  portfolio-diff-dark: $color-portfolio-diff-dark,
  // archviz
  archviz: $color-archviz,
  archviz-white: $color-archviz-white,
  archviz-light: $color-archviz-light,
  archviz-dark: $color-archviz-dark,
  archviz-shadow: $color-archviz-shadow,
  archviz-diff: $color-archviz-diff,
  archviz-diff-dark: $color-archviz-diff-dark,
  // quotes
  quotes: $color-quotes,
  quotes-white: $color-quotes-white,
  quotes-light: $color-quotes-light,
  quotes-dark: $color-quotes-dark,
  quotes-shadow: $color-quotes-shadow,
  quotes-diff: $color-quotes-diff,
  quotes-diff-dark: $color-quotes-diff-dark,
  // other
  other: $color-other,
  other-white: $color-other-white,
  other-light: $color-other-light,
  other-dark: $color-other-dark,
  other-shadow: $color-other-shadow,
  other-diff: $color-other-diff,
  other-diff-dark: $color-other-diff-dark,
  // contact
  contact: $color-contact,
  contact-white: $color-contact-white,
  contact-light: $color-contact-light,
  contact-dark: $color-contact-dark,
  contact-shadow: $color-contact-shadow,
  contact-diff: $color-contact-diff,
  contact-diff-dark: $color-contact-diff-dark
);
