@import 'variables.scss';

.wrapper {
  height: 100%;
  margin: 0 $offset-right-xs 0 $offset-left-xs;
  overflow: hidden;
  position: relative;
  transition: height $expandable-time;

  @media only screen and (min-width: $media-md) {
    margin: 0;
  }
}

.expandableHidden,
.expandedHidden {
  left: 0;
  position: absolute;
  top: 0;
  right: 0;
  transition: visibility 0s;
  visibility: hidden;

  @media only screen and (min-width: $media-md) {
    max-width: none;
  }
}

.expandableVisible,
.expandedVisible {
  transition: visibility 0s;
  visibility: visible;
}

.expandableVisible {
  transition: visibility 0s $expandable-time;
}

.expandedHidden {
  transition: visibility 0s $expandable-time;
}

.dots {
  font-family: 'Antonio Bold';
  font-size: 1.5em;
  line-height: 0;
}