@import '../../styles/colors.scss';
@import '../../styles/variables.scss';

$gap: 10px;

.container {
  display: flex;
  flex-direction: column;
  gap: 5px;

  .label {
    color: $color-resume-light;
    font-size: 1.3rem;
    font-weight: 700;
    margin: 0;
  }

  .details {
    display: flex;
    flex-wrap: wrap;
    gap: $gap;

    .detail {
      color: $color-resume-accent;
      font-size: 1.1rem;
      font-weight: 700;
      line-height: 1.5;
      margin: 0;

      &-2,
      &-3 {
        border-left: $separator-width solid $color-resume-black;
        padding-left: $gap;
      }

      &-3 {
        color: $color-resume-light;
      }
    }
  }

  .description {
    color: $color-resume-white;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px 0 10px 30px;

    .responsibility {
      position: relative;

      &::before {
        background-color: $color-resume-black;
        border-radius: $border-radius / 2;
        content: '';
        height: 1rem;
        margin-right: 0.5rem;
        position: absolute;
        right: 100%;
        top: 0.4rem;
        width: 1rem;
      }
    }
  }
}
