@import '../styles/variables.scss';
@import '../styles/mixins.scss';

.section {
  @include section();

  .container {
    @include container;

    .title {
      @include sectionTitle;

      margin: 0;
      margin-top: -3rem;
    }

    .description {
      @include normalText(about);

      grid-area: description;
    }

    .photo {
      @include graphicInCorner;

      filter: sepia(0.7) hue-rotate(140deg) brightness(0.9);
      grid-area: photo;
      justify-self: end;
      max-width: 500px;
      opacity: 0.9;
      margin-right: -$offset-right-s;
      width: 100%;
      z-index: 1;
    }

    .iconsGroup {
      &.high {
        grid-area: high;
      }
      &.medium {
        grid-area: medium;
      }
      &.low {
        grid-area: low;
      }

      .icons {
        display: flex;
        gap: 5px;
        list-style-type: none;
      }
    }

    .contactDetails {
      display: flex;
      gap: 6px;
      grid-area: contact;
      list-style-type: none;
      padding-left: $offset-left-s;
    }
  }
}
