@import '../styles/variables.scss';
@import '../styles/mixins.scss';

.section {
  @include section;

  .container {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding: $menu-item-height $offset-right-s $menu-item-height $offset-left-s;
    width: 100%;

    .title {
      @include sectionTitle;

      margin: 0;
      text-align: center;
    }

    .contactDetails {
      justify-content: center;
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
    }
  }
}
