@import '../styles/variables.scss';
@import '../styles/mixins.scss';

.section {
  @include section;

  .container {
    @include container;

    @media only screen and (min-width: $media-m) {
      & {
        max-width: $container-size;
      }
    }

    @media only screen and (min-width: $media-l) {
      & {
        margin-left: 500px;
      }
    }

    .title {
      @include sectionTitle;
    }

    .contactDetails {
      display: flex;
      gap: 10px;
    }
  }
}
