@import '../styles/variables.scss';
@import '../styles/mixins.scss';

.intro {
  @include flex-center;

  align-items: flex-start;
  background-color: $intro-background-color;
  display: none;
  height: 100%;
  left: 0;
  min-height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;

  &.visible {
    display: flex;
  }

  .loader {
    align-self: center;
    animation: showLoader 0.5s;
    background-color: $color-about;
    height: 200px;
    opacity: 1;
    position: fixed;
    transition-property: height, left, top, width;
    visibility: inherit;
    width: 200px;
    z-index: 1;
  }

  .ending {
    background-color: $color-about;
    opacity: 0;
    position: absolute;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0s 0.3s;
  }

  .grid {
    border: 1px solid blue;
    gap: 3px;
    display: none; // none
    list-style-type: none;
    margin: 0;
    padding: 0;

    .gridItem {
      @include flex-center;

      position: relative;
      visibility: hidden;
      border: 1px solid red;
    }

    .char {
      @include flex-center;

      fill: $intro-link-color;
      position: relative;
      width: 100%;
      transition: left 0.5s, top 0.5s;

      &.separator {
        background-color: $intro-link-color;
        height: 100%;
      }

      &.color {
        fill: $color-about;
      }

      &.color.separator {
        background-color: $color-about;
      }
    }

    .svg {
      fill: inherit;
      width: 100%;

      &.shadow {
        fill: $intro-background-color;
        left: 0;
        opacity: $svg-opacity;
        position: absolute;
        top: 0;
      }
    }
  }

  .skipButton {
    @include button;
    bottom: 50px;
    color: $intro-link-color;
    font-family: 'Antonio Bold';
    font-size: 2em;
    left: 50%;
    opacity: 0;
    position: fixed;
    text-transform: uppercase;
    transform: translateX(-50%);
    transition: color 0.2s, opacity 0.3s, visibility 0s 0.3s;
    visibility: hidden;

    &:hover {
      color: $color-about;
    }

    @media only screen and (min-width: $media-m) {
      font-size: 2.5em;
    }

    @media only screen and (min-width: $media-l) {
      font-size: 3em;
    }
  }
}
