@use '../styles/variables.scss' as var;
@use '../styles/mixins.scss' as mix;

.section {
  @include mix.section;

  display: flex;
  gap: 100px;

  .content {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .footer {
      display: flex;
      flex-direction: column;
      gap: 20px;

      @media screen and (min-width: var.$media-m) {
        flex-direction: row;
      }

      .tags {
        display: flex;
        gap: 10px;
        grid-area: tags;
        padding-left: var.$text-indent;

        @media screen and (min-width: var.$media-m) {
          padding: 0;
        }
      }

      .links {
        display: flex;
        gap: 10px;
      }
    }
  }
}
