@use '../styles/variables.scss' as var;
@use '../styles/mixins.scss' as mix;

.section {
  @include mix.section;

  display: flex;
  gap: 50px;

  .content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-width: 400px;
    width: 400px;
    z-index: 1;

    .footer {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      height: auto;

      @media screen and (min-width: var.$media-m) {
        height: 60px;
      }

      .links {
        display: flex;
        gap: 10px;
      }

      .tags {
        display: flex;
        height: 100%;

        @media screen and (min-width: var.$media-m) {
          padding: 0;
        }
      }
    }
  }
}
