@import '../styles/variables.scss';
@import '../styles/mixins.scss';

.section {
  @include section();

  .container {
    display: flex;
    flex-direction: column;
    gap: $gridGap;

    @media only screen and (min-width: $media-md) {
      & {
        max-width: $container-size;
      }
    }

    @media only screen and (min-width: $media-lg) {
      & {
        margin-left: 500px;
      }
    }
  }

  &.resume {
    .container {
      .heading {
        @include sectionTitle;
      }
    }
  }
}
