@import '../styles/variables.scss';
@import '../styles/mixins.scss';

.section {
  @include section();

  .container {
    @include container;

    .title {
      @include sectionTitle;
    }

    .description {
      @include normalText(resume);
    }

    .info {
      grid-area: info;
    }

    .accordions {
      display: flex;
      flex-direction: column;
      gap: 20px;
      grid-area: accordions;
    }
  }
}
