@import '../styles/variables.scss';
@import '../styles/mixins.scss';

.section {
  @include section();

  .container {
    @include container;

    grid-template-areas:
      'title'
      'info'
      'accordions';
    max-width: 1200px;
    padding: $menu-item-height $offset-right-s $menu-item-height $offset-left-s;

    @media only screen and (min-width: $media-m) {
      align-content: start;
      grid-template-areas:
        'title title'
        'info accordions';
      grid-template-columns: 1fr 2fr;
    }

    .title {
      @include sectionTitle;

      border-color: $color-resume-accent;
      color: $color-resume-light;
    }

    .description {
      @include normalText(resume);
    }

    .info {
      grid-area: info;
    }

    .accordions {
      display: flex;
      flex-direction: column;
      gap: 20px;
      grid-area: accordions;
    }
  }
}
