@import '../styles/colors.scss';
@import '../styles/variables.scss';
@import '../styles/mixins.scss';

@mixin accordionLabel($view) {
  &.collapsed {
    > .header {
      &::before {
        background-color: map-get($colors, #{$view}-light);
      }
      > .label {
        color: map-get($colors, #{$view}-light);
      }
    }
  }

  > .header {
    &::before {
      background-color: map-get($colors, #{$view}-accent);
    }

    > .label {
      color: map-get($colors, #{$view}-accent);
    }

    &:focus,
    &:hover {
      > .label {
        cursor: pointer;
        color: map-get($colors, #{$view}-accent);
      }

      &::before {
        background-color: map-get($colors, #{$view}-accent);
      }
    }
  }
}

.accordion {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: hidden;
  transition: height $accordion-time, max-height $accordion-time;

  > .header {
    align-items: flex-start;
    display: flex;
    position: relative;
    padding-left: 25px;
    transition: padding $accordion-time;

    &::before {
      border-radius: $border-radius / 2;
      content: '';
      height: $separator-height;
      left: 0;
      position: absolute;
      top: 3px;
      transition: background-color $tabHeader-time,
        height $tabHeader-time $tabHeader-time ease-out,
        width $tabHeader-time ease-in;
      width: $separator-width;
    }

    > .label {
      background: none;
      border: none;
      font-size: $tabHeading-size-xs;
      font-weight: 700;
      line-height: 1;
      margin: 0;
      padding: 0;
      position: relative;
      text-align: left;
      text-transform: uppercase;
      transition: color $tabHeader-time;
      white-space: nowrap;
    }
  }

  .items {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 10px;
    margin: 0;
    padding: 10px 0;
    padding-left: 25px;
  }

  &.resume {
    @include accordionLabel(resume);
  }
  &.glob3d {
    @include accordionLabel(glob3d);
  }
  &.tasktimer {
    @include accordionLabel(tasktimer);
  }
  &.hydrapp {
    @include accordionLabel(hydrapp);
  }
  &.portfolio {
    @include accordionLabel(portfolio);
  }
  &.archviz {
    @include accordionLabel(archviz);
  }
  &.quotes {
    @include accordionLabel(quotes);
  }

  &.collapsed {
    > .header {
      padding-left: 50px;
      transition: padding $tabHeader-time $tabHeader-time ease-in;

      &::before {
        height: 27px;
        transition: background-color $tabHeader-time,
          height $tabHeader-time ease-out,
          width $tabHeader-time $tabHeader-time ease-in;
        width: 27px;
      }
    }
  }
}
