@import '../styles/colors.scss';
@import '../styles/variables.scss';
@import '../styles/mixins.scss';

@mixin blockTitle($color) {
  color: map-get($colors, #{$color}-diff);
  &::before {
    background-color: map-get($colors, #{$color}-diff);
  }
}

.blockTitle {
  align-self: start;
  font-size: $tabHeading-size-xs;
  line-height: 1;
  margin: 0;
  padding: 0 0 1rem $text-indent;
  position: relative;
  text-transform: uppercase;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: $separator-width;
    height: $separator-height;
  }

  &.about {
    @include blockTitle(about);
  }
  &.resume {
    @include blockTitle(resume);
  }
  &.glob3d {
    @include blockTitle(glob3d);
  }
  &.tasktimer {
    @include blockTitle(tasktimer);
  }
  &.portfolio {
    @include blockTitle(portfolio);
  }
  &.hydrapp {
    @include blockTitle(hydrapp);
  }
  &.archviz {
    @include blockTitle(archviz);
  }

  @media only screen and (min-width: $media-m) {
    font-size: $tabHeading-size-lg;
    padding-left: 0;

    &::before {
      height: 70px;
      left: -30px;
      width: $separator-width;
    }
  }
}
