@import '../styles/variables.scss';
@import '../styles/mixins.scss';
@import '../styles/animations.scss';

.burger {
  @include button;
  @include flex-center;

  height: $menu-item-height;
  left: 0;
  pointer-events: all;
  position: fixed;
  top: 0;
  transition: visibility 0s;
  visibility: hidden;
  width: $menu-item-height;
  z-index: 99999999;

  &.visible {
    transition: visibility 0s 0.7s;
    visibility: visible;
  }

  &.about {
    fill: $color-about;
  }
  &.resume {
    fill: $color-resume;
  }
  &.glob3d {
    fill: $color-glob3d;
  }
  &.tasktimer {
    fill: $color-tasktimer;
  }
  &.portfolio {
    fill: $color-portfolio;
  }
  &.hydrapp {
    fill: $color-hydrapp;
  }
  &.archviz {
    fill: $color-archviz;
  }
  &.contact {
    fill: $color-contact;
  }

  .svg {
    width: 100%;
  }

  @media screen and (min-width: $media-m) {
    &.visible {
      visibility: hidden;
    }
  }
}
