@import '../styles/variables.scss';
@import '../styles/mixins.scss';
@import '../styles/animations.scss';

.burger {
  @include button;
  @include flex-center;

  height: $menu-item-height;
  left: 5px;
  pointer-events: all;
  position: fixed;
  top: 5px;
  transition: visibility 0s;
  visibility: hidden;
  width: $menu-item-height;
  z-index: 99999999;

  &.visible {
    transition: visibility 0s 0.7s;
    visibility: visible;
  }

  &.about {
    fill: $color-about-accent;
  }
  &.resume {
    fill: $color-resume-accent;
  }
  &.glob3d {
    fill: $color-glob3d-accent;
  }
  &.tasktimer {
    fill: $color-tasktimer-accent;
  }
  &.portfolio {
    fill: $color-portfolio-accent;
  }
  &.hydrapp {
    fill: $color-hydrapp-accent;
  }
  &.archviz {
    fill: $color-archviz-accent;
  }
  &.contact {
    fill: $color-contact-accent;
  }

  .svg {
    width: 100%;
  }

  @media screen and (min-width: $media-m) {
    &.visible {
      visibility: hidden;
    }
  }
}
