@use '../styles/variables.scss' as var;

$icon-size: 1.3rem;

.demo {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  max-width: 1200px;
  overflow: hidden;
  width: 100%;

  @media screen and (min-width: var.$media-m) {
    height: 100vh;
  }

  .arrow {
    border: 0 solid #fff;
    border-width: 3px 3px 0 0;
    height: $icon-size;
    width: $icon-size;

    &.left {
      transform: rotateZ(-135deg) translate(-20%, 20%);
    }

    &.right {
      transform: rotateZ(45deg) translate(-20%, 20%);
    }
  }

  :global(.slider-container) {
    opacity: 0.7;
    transition: opacity 0.2s;

    &:hover {
      opacity: 1;
    }
  }

  :global(.slide) {
    display: flex;

    img {
      width: 100%;
    }
  }

  .globe {
    height: 500px;
    width: 100%;

    @media screen and (min-width: var.$media-m) {
      height: 100%;
    }
  }
}
