@import '../styles/colors.scss';
@import '../styles/variables.scss';
@import '../styles/mixins.scss';

@mixin graphic($view) {
  .base {
    fill: map-get($colors, #{$view}-dark);
  }
  .shadow {
    fill: map-get($colors, #{$view}-black);
  }
}

.graphic {
  align-items: center;
  align-self: center;
  display: flex;
  justify-content: center;
  justify-self: start;
  margin: 50px 0;
  position: relative;
  transform-origin: bottom left;
  width: 60%;

  &.about {
    @include graphic(about);
  }
  &.resume {
    @include graphic(resume);
  }
  &.glob3d {
    @include graphic(glob3d);
  }
  &.tasktimer {
    @include graphic(tasktimer); // tasktimerBase, tasktimerLetter
  }
  &.portfolio {
    @include graphic(portfolio);
  }
  &.hydrapp {
    @include graphic(hydrapp);
  }
  &.archviz {
    @include graphic(archviz);
  }
  &.contact {
    @include graphic(contact);
  }

  .base {
    width: 100%;
  }

  .shadow {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
  }

  .letter,
  .letterShadow {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
  }

  .letter {
    fill: $color-tasktimer-letter;
  }

  .letterShadow {
    fill: $color-tasktimer-letterShadow;
  }

  @media only screen and (min-width: $media-m) {
    position: absolute;
    margin: 0;
    max-width: 400px;
    opacity: 0.3;
    right: 0;
    top: 50px;
  }

  @media only screen and (min-width: $media-l) {
    max-width: 500px;
  }
}
