@import '../styles/variables.scss';
@import '../styles/mixins.scss';

$size-icon: 50px;

.item {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: $size-icon;
  min-width: $size-icon;
  width: $size-icon;

  .icon {
    height: 100%;
    width: 100%;
    outline: none;
    position: relative;

    .svg {
      height: 100%;
      width: 100%;

      &.faded1,
      &.faded2 {
        height: 100%;
        left: 0;
        opacity: 0.75;
        position: absolute;
        top: 0;
        width: 100%;
      }

      &.faded2 {
        opacity: 0.5;
      }
    }
  }

  .name {
    font-size: 10px;
    margin: 2px 0 4px;
    text-transform: uppercase;
    word-break: break-all;

    @media only screen and (min-width: $media-lg) {
      & {
        font-size: 0.75em;
      }
    }
  }

  &.about {
    .icon {
      background-color: rgba(
        $color: $color-about-dark,
        $alpha: $background-opacity
      );
      fill: $color-about-light;
      &::before {
        @include aboutShadow;
      }
      &:active {
        @include aboutIcon;
      }
    }
  }

  &.contact {
    .icon {
      background-color: rgba(
        $color: $color-contact-dark,
        $alpha: $background-opacity
      );
      fill: $color-contact;
      &::before {
        @include contactShadow;
      }
      &:active {
        @include contactIcon;
      }
    }
  }
}
