@import '../styles/variables.scss';
@import '../styles/mixins.scss';

.container {
  height: 100%;
  left: 0;
  min-height: 100vh;
  pointer-events: none;
  position: fixed;
  top: 0;
  visibility: hidden;
  width: 100%;

  &.visible {
    visibility: visible;
  }

  .background {
    background-color: $intro-background-color;
    height: 100%;
    position: fixed;
    transition: background-color $menu-sm-first-timeout;
    width: 100%;

    &.animated {
      transition: background-color $menu-sm-first-timeout 0.5s,
        height $menu-sm-first-timeout, top $menu-sm-first-timeout;

      &.menuMode {
        transition: background-color $menu-sm-first-timeout,
          height $menu-sm-first-timeout, top $menu-sm-first-timeout;
      }
    }

    &.top {
      left: 0;
      top: 0;
    }

    &.bottom {
      bottom: 0;
      left: 0;
    }

    &.about {
      background-color: $color-about-diff;
    }
    &.resume {
      background-color: $color-resume-diff;
    }
    &.tasktimer {
      background-color: $color-tasktimer-diff;
    }
    &.portfolio {
      background-color: $color-portfolio-diff;
    }
    &.hydrapp {
      background-color: $color-hydrapp-diff;
    }
    &.archviz {
      background-color: $color-archviz-diff;
    }
    &.quotes {
      background-color: $color-quotes-diff;
    }
    &.other {
      background-color: $color-other-diff;
    }
    &.contact {
      background-color: $color-contact-diff;
    }
  }
}
