@import '../styles/variables.scss';
@import '../styles/mixins.scss';
@import '../styles/animations.scss';

@mixin menuButton($color) {
  fill: map-get($colors, #{$color}-diff);
  &:active,
  &:focus,
  &:hover {
    fill: map-get($colors, #{$color}-diff-dark);
  }
}

.menuButton {
  @include button;

  display: flex;
  fill: $intro-link-color;
  height: $menu-item-height;
  justify-content: flex-end;
  padding-left: 55px;
  transition: fill $menu-sm-first-timeout, width $menu-sm-first-timeout;

  &.intro:not(.active) {
    &.about.hovered {
      fill: $color-about;
    }
    &.resume.hovered {
      fill: $color-resume;
    }
    &.glob3d.hovered {
      fill: $color-glob3d;
    }
    &.tasktimer.hovered {
      fill: $color-tasktimer;
    }
    &.portfolio.hovered {
      fill: $color-portfolio;
    }
    &.hydrapp.hovered {
      fill: $color-hydrapp;
    }
    &.archviz.hovered {
      fill: $color-archviz;
    }
    &.quotes.hovered {
      fill: $color-quotes;
    }
    &.other.hovered {
      fill: $color-other;
    }
    &.contact.hovered {
      fill: $color-contact;
    }
  }

  &.about {
    @include menuButton(about);
  }
  &.resume {
    @include menuButton(resume);
  }
  &.tasktimer {
    @include menuButton(tasktimer);
  }
  &.glob3d {
    @include menuButton(glob3d);
  }
  &.portfolio {
    @include menuButton(portfolio);
  }
  &.hydrapp {
    @include menuButton(hydrapp);
  }
  &.archviz {
    @include menuButton(archviz);
  }
  &.quotes {
    @include menuButton(quotes);
  }
  &.other {
    @include menuButton(other);
  }
  &.contact {
    @include menuButton(contact);
  }
  &.active {
    fill: #fff;
    &:active,
    &:focus,
    &:hover {
      fill: #fff;
    }
  }

  @media only screen and (min-width: $media-l) {
    height: $menu-item-height-l;
    padding: 0;
    width: 100%;
  }
}

.menuSvg {
  @include flex-center;

  height: 100%;
  pointer-events: none;
  position: relative;

  .menuSvgText {
    height: 100%;
  }

  .menuSvgShadow {
    fill: $intro-background-color;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity 0.3s, visibility 0s 0.3s;
    visibility: hidden;
    width: 100%;

    &.visible {
      opacity: $svg-opacity;
      transition: opacity 0.3s, visibility 0s;
      visibility: visible;
    }
  }

  @media only screen and (min-width: $media-l) {
    .menuSvgText {
      height: $menu-item-height-l;
    }
  }
}
