@import '../styles/variables.scss';
@import '../styles/mixins.scss';
@import '../styles/animations.scss';

.menuButton {
  @include button;

  display: flex;
  fill: $intro-link-color;
  height: $menu-item-height;
  justify-content: flex-end;
  padding-left: 55px;
  transition: fill $menu-sm-first-timeout, width $menu-sm-first-timeout;

  &.active {
    fill: #fff;
  }

  &.intro:not(.active) {
    &.about.hovered {
      fill: $color-about;
    }
    &.resume.hovered {
      fill: $color-resume;
    }
    &.tasktimer.hovered {
      fill: $color-tasktimer;
    }
    &.portfolio.hovered {
      fill: $color-portfolio;
    }
    &.hydrapp.hovered {
      fill: $color-hydrapp;
    }
    &.archviz.hovered {
      fill: $color-archviz;
    }
    &.quotes.hovered {
      fill: $color-quotes;
    }
    &.other.hovered {
      fill: $color-other;
    }
    &.contact.hovered {
      fill: $color-contact;
    }
  }

  &.about:not(.active) {
    fill: $color-about-diff;
    &:active {
      fill: $color-about-diff-dark;
    }
  }
  &.resume:not(.active) {
    fill: $color-resume-diff;
    &:active {
      fill: $color-resume-diff-dark;
    }
  }
  &.tasktimer:not(.active) {
    fill: $color-tasktimer-diff;
    &:active {
      fill: $color-tasktimer-diff-dark;
    }
  }
  &.portfolio:not(.active) {
    fill: $color-portfolio-diff;
    &:active {
      fill: $color-portfolio-diff-dark;
    }
  }
  &.hydrapp:not(.active) {
    fill: $color-hydrapp-diff;
    &:active {
      fill: $color-hydrapp-diff-dark;
    }
  }
  &.archviz:not(.active) {
    fill: $color-archviz-diff;
    &:active {
      fill: $color-archviz-diff-dark;
    }
  }
  &.quotes:not(.active) {
    fill: $color-quotes-diff;
    &:active {
      fill: $color-quotes-diff-dark;
    }
  }
  &.other:not(.active) {
    fill: $color-other-diff;
    &:active {
      fill: $color-other-diff-dark;
    }
  }
  &.contact:not(.active) {
    fill: $color-contact-diff;
    &:active {
      fill: $color-contact-diff-dark;
    }
  }
  &.active:not(.active) {
    fill: #fff;
    &:active {
      fill: #fff;
    }
  }

  @media only screen and (min-width: $media-m) {
    &.about:not(.active) {
      &:focus,
      &:hover {
        fill: $color-about-diff-dark;
      }
    }
    &.resume:not(.active) {
      &:focus,
      &:hover {
        fill: $color-resume-diff-dark;
      }
    }
    &.tasktimer:not(.active) {
      &:focus,
      &:hover {
        fill: $color-tasktimer-diff-dark;
      }
    }
    &.portfolio:not(.active) {
      &:focus,
      &:hover {
        fill: $color-portfolio-diff-dark;
      }
    }
    &.hydrapp:not(.active) {
      &:focus,
      &:hover {
        fill: $color-hydrapp-diff-dark;
      }
    }
    &.archviz:not(.active) {
      &:focus,
      &:hover {
        fill: $color-archviz-diff-dark;
      }
    }
    &.quotes:not(.active) {
      &:focus,
      &:hover {
        fill: $color-quotes-diff-dark;
      }
    }
    &.other:not(.active) {
      &:focus,
      &:hover {
        fill: $color-other-diff-dark;
      }
    }
    &.contact:not(.active) {
      &:focus,
      &:hover {
        fill: $color-contact-diff-dark;
      }
    }
  }

  @media only screen and (min-width: $media-l) {
    height: $menu-item-height-lg;
    padding: 0;
    width: 100%;
  }
}

.menuSvg {
  @include flex-center;

  height: 100%;
  pointer-events: none;
  position: relative;

  .menuSvgText {
    height: 100%;
  }

  .menuSvgShadow {
    fill: $intro-background-color;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity 0.3s, visibility 0s 0.3s;
    visibility: hidden;
    width: 100%;

    &.visible {
      opacity: $svg-opacity;
      transition: opacity 0.3s, visibility 0s;
      visibility: visible;
    }
  }

  @media only screen and (min-width: $media-l) {
    .menuSvgText {
      height: $menu-item-height-lg;
    }
  }
}
