@import '../styles/variables.scss';
@import '../styles/mixins.scss';
@import '../styles/animations.scss';

@mixin menuButton($color) {
  fill: #111;
  opacity: 0.6;

  &:active,
  &:focus,
  &.hovered {
    opacity: 0.9;
  }

  &.active {
    fill: map-get($colors, #{$color}-accent);
    opacity: 1;

    &:active,
    &:focus,
    &:hover {
      fill: map-get($colors, #{$color}-accent);
    }
  }
}

.menuButton {
  @include button;

  display: flex;
  fill: $intro-link-color;
  height: $menu-item-height;
  justify-content: flex-end;
  padding-left: 55px;
  transition: opacity $menu-sm-first-timeout,
    fill $menu-sm-first-timeout $menu-button-time, width $menu-sm-first-timeout;

  &.about {
    @include menuButton(about);
  }
  &.resume {
    @include menuButton(resume);
  }
  &.tasktimer {
    @include menuButton(tasktimer);
  }
  &.glob3d {
    @include menuButton(glob3d);
  }
  &.portfolio {
    @include menuButton(portfolio);
  }
  &.hydrapp {
    @include menuButton(hydrapp);
  }
  &.archviz {
    @include menuButton(archviz);
  }
  &.contact {
    @include menuButton(contact);
  }

  @media only screen and (min-width: $media-l) {
    height: $menu-item-height-l;
    padding: 0;
    width: 100%;
  }

  .menuSvg {
    @include flex-center;

    height: 100%;
    pointer-events: none;
    position: relative;

    .menuSvgText {
      height: 100%;
    }

    .menuSvgShadow {
      fill: #000;
      height: 100%;
      left: 0;
      opacity: 0;
      position: absolute;
      top: 0;
      transition: opacity $menu-button-time $menu-button-time,
        visibility 0s $menu-button-time;
      visibility: hidden;
      width: 100%;

      &.visible {
        opacity: $svg-opacity;
        transition: opacity $menu-button-time $menu-button-time, visibility 0s;
        visibility: visible;
      }
    }

    @media only screen and (min-width: $media-l) {
      .menuSvgText {
        height: $menu-item-height-l;
      }
    }
  }
}
