@import '../styles/variables.scss';
@import '../styles/mixins.scss';
@import '../styles/animations.scss';

.menu {
  width: 100%;
  pointer-events: all;
  position: relative;

  @media only screen and (min-width: $media-lg) {
    & {
      align-items: center;
      display: flex;
      min-height: $container-size;
      width: $menu-width;
      transition: transform 0.5s;

      &.intro {
        $left-offset: calc(50vw - #{$menu-width});
        transform: translateX($left-offset);
      }
    }
  }

  .menuList {
    display: grid;
    list-style-type: none;
    margin: 0;
    padding: 0;
    row-gap: 10px;
    width: 100%;
  }

  .menuItem {
    align-items: flex-start;
    display: flex;
    height: $menu-item-height;
    overflow: hidden;
    padding-right: 10px;
    // pointer-events: none;
    width: 100%;

    &--active {
      // pointer-events: all;
    }

    &--mobileHeader {
      left: 0;
      margin: 0;
      position: fixed;
    }

    &--animated {
      transition: top $menu-sm-second-timeout;
    }

    &--visible {
      visibility: inherit;
    }

    @media only screen and (min-width: $media-lg) {
      height: $menu-item-height-lg;
      justify-content: flex-end;
      padding: 0;
      width: 100%;
    }
  }

  .indicator {
    background-color: #fff;
    height: $menu-item-height;
    left: 0;
    position: absolute;
    top: 0;
    transition: top 0.15s;
    width: 20px;
    z-index: 9999;

    @media only screen and (min-width: $media-lg) {
      height: $menu-item-height-lg;
    }
  }
}
