@import '../styles/colors.scss';
@import '../styles/variables.scss';
@import '../styles/mixins.scss';
@import '../styles/animations.scss';

.menu {
  width: 100%;
  pointer-events: all;
  position: relative;

  @media only screen and (min-width: $media-m) {
    align-items: center;
    display: flex;
    min-height: $container-size;
    width: $menu-width-m;
    transition: transform 0.5s;

    &.intro {
      $left-offset: calc(50vw - #{$menu-width-m});
      transform: translateX($left-offset);
    }
  }

  @media screen and (min-width: $media-l) {
    width: $menu-width-l;

    &.intro {
      $left-offset: calc(50vw - #{$menu-width-l});
      transform: translateX($left-offset);
    }
  }

  .menuList {
    display: grid;
    list-style-type: none;
    margin: 0;
    padding: 0;
    row-gap: 10px;
    width: 100%;
  }

  .menuItem {
    align-items: flex-start;
    display: flex;
    height: $menu-item-height;
    overflow: hidden;
    padding-right: 10px;
    // pointer-events: none;
    width: 100%;

    &--mobileHeader {
      left: 0;
      margin: 0;
      position: fixed;
    }

    &--animated {
      transition: top $menu-sm-second-timeout;
    }

    &--visible {
      visibility: inherit;
    }

    @media only screen and (min-width: $media-m) {
      justify-content: flex-end;
      padding: 0;
      width: 100%;
    }

    @media only screen and (min-width: $media-l) {
      height: $menu-item-height-l;
    }
  }
}

.indicator {
  background-color: #fff;
  height: $menu-item-height;
  left: 0;
  position: absolute;
  top: 0;
  transition: background-color $time-menu-indicator, left $time-menu-indicator,
    top $time-menu-indicator 0.2s, width $time-menu-indicator 0.4s ease-out;
  width: 20px;
  z-index: 9999;

  &.intro.about {
    background-color: $color-about;
  }
  &.intro.resume {
    background-color: $color-resume;
  }
  &.intro.glob3d {
    background-color: $color-glob3d;
  }
  &.intro.tasktimer {
    background-color: $color-tasktimer;
  }
  &.intro.hydrapp {
    background-color: $color-hydrapp;
  }
  &.intro.portfolio {
    background-color: $color-portfolio;
  }
  &.intro.archviz {
    background-color: $color-archviz;
  }
  &.intro.quotes {
    background-color: $color-quotes;
  }
  &.intro.contact {
    background-color: $color-contact;
  }

  &.intro {
    background-color: #fff;
  }

  @media only screen and (min-width: $media-l) {
    height: $menu-item-height-l;
  }
}
