@import '../styles/variables.scss';
@import '../styles/mixins.scss';
@import '../styles/animations.scss';

.menu {
  width: 100%;
  pointer-events: none;
  position: relative;

  &.intro {
    pointer-events: all;
  }

  .menuList {
    display: grid;
    list-style-type: none;
    margin: 0;
    padding: 0;
    row-gap: 10px;
    width: 100%;
  }

  .menuItem {
    align-items: flex-start;
    display: flex;
    height: $menu-item-height;
    padding-right: 10px;
    // pointer-events: none;
    width: 100%;

    &--active {
      // pointer-events: all;
    }

    &--mobileHeader {
      left: 0;
      margin: 0;
      position: fixed;
    }

    &--animated {
      transition: top $menu-sm-second-timeout;
    }

    &--visible {
      visibility: inherit;
    }
  }
}

.indicator {
  background-color: #fff;
  height: $menu-item-height;
  left: 0;
  position: absolute;
  top: 0;
  transition: top $time-menu-indicator, visibility 0s 0.5s;
  visibility: hidden;
  width: $menu-item-height;
  z-index: 9999;

  &.visible {
    transition: top $time-menu-indicator, visibility 0s;
    visibility: visible;
  }

  &.about {
    background-color: $color-about;
  }
  &.resume {
    background-color: $color-resume;
  }
  &.tasktimer {
    background-color: $color-tasktimer;
  }
  &.hydrapp {
    background-color: $color-hydrapp;
  }
  &.portfolio {
    background-color: $color-portfolio;
  }
  &.archviz {
    background-color: $color-archviz;
  }
  &.quotes {
    background-color: $color-quotes;
  }
  &.contact {
    background-color: $color-contact;
  }
}
