@use '../styles/colors.scss' as col;
@use '../styles/variables.scss' as var;
@use '../styles/mixins.scss' as mix;

@mixin projectLink($project) {
  border-color: map-get(col.$colors, #{$project}-dark);

  &.link {
    background-color: map-get(col.$colors, #{$project}-accent);
    color: map-get(col.$colors, #{$project}-black);

    &::before {
      border-color: map-get(col.$colors, #{$project}-black);
    }
    &:active,
    &:focus,
    &:hover {
      color: map-get(col.$colors, #{$project}-white);
      background-color: mix(
        map-get(col.$colors, #{$project}-accent),
        map-get(col.$colors, #{$project}-dark)
      );
    }
  }
}

.link {
  @include mix.button;
  @include mix.flex-center;

  font-size: 1.6rem;
  min-width: 50px;
  padding: 0.3em 1em;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color var.$button-hover, color var.$button-hover;

  &::before {
    border-style: solid;
    border-width: 0;
    bottom: 0;
    content: '';
    left: 0;
    opacity: 0.6;
    position: absolute;
    right: 0;
    top: 0;
    transition: border-width var.$button-hover;
  }

  &:active::before,
  &:focus::before,
  &:hover::before {
    border-left-width: 10px;
    border-top-width: 10px;
  }

  &.glob3d {
    @include projectLink('glob3d');
  }
  &.tasktimer {
    @include projectLink('tasktimer');
  }
  &.portfolio {
    @include projectLink('portfolio');
  }
  &.hydrapp {
    @include projectLink('hydrapp');
  }
  &.archviz {
    @include projectLink('archviz');
  }
}
