@import '../styles/variables.scss';
@import '../styles/mixins.scss';

@mixin projectFeature($project) {
  .accordions {
    .feature {
      @include normalText($project);

      &::before {
        background-color: map-get($colors, #{$project}-light);
      }

      @media screen and (min-width: $media-m) {
        padding-left: 20px;
      }
    }
  }
}

.features {
  grid-area: features;

  .accordions {
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 25px;

    .feature {
      position: relative;

      &::before {
        content: '';
        background-color: $color-other-diff;
        height: $separator-width;
        left: 0;
        margin-top: 8px;
        position: absolute;
        top: 0;
        width: $separator-width;
      }
    }

    @media screen and (min-width: $media-m) {
      padding-left: 0;
    }
  }

  &.tasktimer {
    @include projectFeature(tasktimer);
  }
  &.glob3d {
    @include projectFeature(glob3d);
  }
  &.hydrapp {
    @include projectFeature(hydrapp);
  }
  &.portfolio {
    @include projectFeature(portfolio);
  }
  &.archviz {
    @include projectFeature(archviz);
  }
  &.quotes {
    @include projectFeature(quotes);
  }
  &.other {
    @include projectFeature(other);
  }
}
