@import '../styles/variables.scss';
@import '../styles/mixins.scss';

@mixin tag($project) {
  background-color: map-get($colors, #{$project}-dark);
  color: map-get($colors, #{$project}-white);

  .label {
    color: map-get($colors, #{$project}-light);
    font-size: 0.8rem;

    &::after {
      content: ':';
    }
  }
}

.tag {
  border-radius: $border-radius;
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
  height: 100%;
  padding: 5px 10px;

  &.glob3d {
    @include tag(glob3d);
  }
  &.tasktimer {
    @include tag(tasktimer);
  }
  &.portfolio {
    @include tag(portfolio);
  }
  &.hydrapp {
    @include tag(hydrapp);
  }
  &.archviz {
    @include tag(archviz);
  }
  &.quotes {
    @include tag(quotes);
  }

  .date {
    font-weight: 600;
  }
}
