@import '../styles/variables.scss';
@import '../styles/mixins.scss';

.visuals {
  height: 100%;
  left: 0;
  min-height: 100vh;
  pointer-events: none;
  position: fixed;
  top: 0;
  // visibility: hidden;
  width: 100%;
  z-index: 3;

  &--visible {
    visibility: visible;
  }

  @media only screen and (min-width: $media-lg) {
    & {
      z-index: -1;
    }
  }

  .background {
    background-color: $intro-background-color;
    height: 100%;
    position: fixed;
    transition: background-color $menu-sm-first-timeout;
    width: 100%;

    &--animated {
      transition: background-color $menu-sm-first-timeout,
        height $menu-sm-second-timeout;
    }

    &.backgroundUpper {
      left: 0;
      top: 0;
    }

    &.backgroundBottom {
      bottom: 0;
      left: 0;
    }

    &--hidden {
      display: none;
    }

    &--about {
      background-color: $color-about-diff;
    }
    &--resume {
      background-color: $color-resume-diff;
    }
    &--tasktimer {
      background-color: $color-tasktimer-diff;
    }
    &--portfolio {
      background-color: $color-portfolio-diff;
    }
    &--hydrapp {
      background-color: $color-hydrapp-diff;
    }
    &--archviz {
      background-color: $color-archviz-diff;
    }
    &--quotes {
      background-color: $color-quotes-diff;
    }
    &--other {
      background-color: $color-other-diff;
    }
    &--contact {
      background-color: $color-contact-diff;
    }
  }

  &__introBox {
    height: $menu-item-height;
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    transition: opacity $menu-sm-first-timeout, top $menu-sm-first-timeout;
    width: $menu-item-height;

    &--content {
      transition: opacity $menu-sm-first-timeout, top $menu-sm-second-timeout;
    }

    &--noTransition {
      transition: none;
    }

    &--visible {
      opacity: 1;
    }

    &--about {
      background-color: $color-about;
    }
    &--resume {
      background-color: $color-resume;
    }
    &--tasktimer {
      background-color: $color-tasktimer;
    }
    &--portfolio {
      background-color: $color-portfolio;
    }
    &--hydrapp {
      background-color: $color-hydrapp;
    }
    &--archviz {
      background-color: $color-archviz;
    }
    &--quotes {
      background-color: $color-quotes;
    }
    &--other {
      background-color: $color-other;
    }
    &--contact {
      background-color: $color-contact;
    }

    @media only screen and (min-width: $media-lg) {
      & {
        width: $menu-item-height-lg;
        height: $menu-item-height-lg;

        &--centered {
          left: calc(50vw + 10px);
        }

        &--halfWindow {
          height: 100%;
          top: 0;
          width: calc(50vw - 10px);
        }

        &--fullWindow {
          width: 100%;
        }

        &--content {
          transition: height $menu-lg-first-timeout, left $menu-lg-first-timeout,
            top $menu-lg-first-timeout, width $menu-lg-first-timeout;
        }
      }
    }
  }
}
