@import 'variables.scss';
@import 'mixins.scss';

.section {
  @media only screen and (min-width: $media-lg) {
    & {
      justify-content: flex-start;
    }
  }

  &__heading {
    border-left: $separator-width solid transparent;
    color: #fff;
    font-family: 'Antonio Bold';
    font-size: 60px;
    grid-area: heading;
    line-height: 1.2;
    margin: 0 $offset-right-xs 0 0;
    margin-top: -60px;
    padding: 30px 10px 30px 20px;
    position: relative;
    width: 100%;
    z-index: 2;

    &--large {
      font-size: 72px;
      line-height: 1;
    }

    &--about {
      border-color: $color-about-diff;
      color: $color-about-light;
    }
    &--resume {
      border-color: $color-resume-diff;
      color: $color-resume-light;
    }
    &--tasktimer {
      border-color: $color-tasktimer-diff;
      color: $color-tasktimer-light;
    }
    &--portfolio {
      border-color: $color-portfolio-diff;
      color: $color-portfolio-light;
    }
    &--hydrapp {
      border-color: $color-hydrapp-diff;
      color: $color-hydrapp-light;
    }
    &--archviz {
      border-color: $color-archviz-diff;
      color: $color-archviz-light;
    }
    &--quotes {
      border-color: $color-quotes-diff;
      color: $color-quotes-light;
    }
    &--other {
      border-color: $color-other-diff;
      color: $color-other-light;
    }
    &--contact {
      border-color: $color-contact-diff;
      color: $color-contact-light;
    }

    @media only screen and (min-width: $media-md) {
      & {
        border: none;
        font-size: 72px;
        margin: $menu-item-height + $offset-right-sm 0;
        max-width: 60%;
        min-width: 380px;
        padding: 0;
        width: 100%;

        &--about,
        &--other {
          margin-bottom: 0;
        }
      }
    }

    @media only screen and (min-width: $media-lg) {
      & {
        margin: 0;
        margin-bottom: 20px;
        max-width: none;
      }
    }
  }

  &__photo {
    grid-area: photography;
    justify-self: end;
    margin-top: $menu-item-height;
    margin-right: $offset-right-sm * -1;
    max-width: 500px;
    width: 100%;
    z-index: 1;

    @media only screen and (min-width: $media-md) {
      & {
        margin-right: 0;
        margin-top: $menu-item-height + $offset-right-sm;
      }
    }

    @media only screen and (min-width: $media-lg) {
      & {
        margin: 0;
        max-width: 350px;
      }
    }
  }

  &__svg {
    display: none;
  }

  &__repos {
    grid-area: otherRepos;
    justify-self: start;
    margin-top: 20px;
    max-width: 500px;

    @media only screen and (min-width: $media-md) {
      & {
        display: grid;
        gap: $tabGap-xs;
        grid-template-columns: repeat(3, 1fr);
        max-width: none;
      }
    }
  }
}

.footer {
  border-top: 2px solid $color-contact-dark;
  color: $color-contact-dark;
  font-size: 14px;
  grid-area: footer;
  margin: $offset-right-xs;
  margin-bottom: 0;
  padding-top: $offset-right-xs;
  text-align: center;

  &__text {
    margin: 0;
  }

  @media only screen and (min-width: $media-md) {
    & {
      margin: 0;
      text-align: left;
    }
  }
}
