@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.icons {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  grid-area: icons;
  margin: 0;
  padding: 0;
  padding-left: $text-indent;

  @media screen and (min-width: $media-m) {
    padding-left: 0;
  }
}
