@import '../../styles/colors.scss';
@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.icon {
  @include flex-center;

  flex-direction: column;

  .link {
    @include flex-center;

    border-radius: $border-radius;
    outline: none;
    overflow: hidden;
    position: relative;
    transition: background-color $button-hover, fill $button-hover;
    width: 50px;

    &::before {
      border-style: solid;
      border-width: 0;
      bottom: 0;
      content: '';
      left: 0;
      opacity: 0.6;
      position: absolute;
      right: 0;
      top: 0;
      transition: border-width $button-hover;
    }

    &:active::before {
      @include shadow;
    }

    @media only screen and (min-width: $media-m) {
      &:focus::before,
      &:hover::before {
        @include shadow;
      }
    }
  }

  .name {
    font-size: 10px;
    margin: 2px 0 4px;
    text-transform: uppercase;
    word-break: break-all;

    @media only screen and (min-width: $media-l) {
      font-size: 0.75em;
    }
  }

  .svg {
    width: 100%;

    &--faded1,
    &--faded2 {
      height: 100%;
      left: 0;
      opacity: 0.75;
      position: absolute;
      top: 0;
      width: 100%;
    }

    &--faded2 {
      opacity: 0.5;
    }
  }

  &.large {
    .link {
      width: 80px;
      height: 80px;
    }

    .name {
      font-size: 1rem;
      font-weight: 700;
    }
  }

  &.about {
    .link {
      background-color: $color-about-dark;
      fill: $color-about-light;

      &::before {
        border-color: $color-about-black;
      }

      &:hover,
      &:active {
        fill: $color-about-accent;

        background-color: rgba(
          $color: $color-about-black,
          $alpha: $background-opacity
        );
      }
    }

    .name {
      color: $color-about-light;
    }
  }

  &.contact {
    .link {
      background-color: $color-contact-dark;
      fill: $color-contact-light;

      &::before {
        border-color: $color-contact-black;
      }

      &:hover {
        fill: $color-contact-white;
      }

      &:active {
        background-color: $color-contact-black;
      }
    }

    .name {
      color: $color-contact-light;
    }
  }
}
