@import './styles/variables.scss';
@import './styles/mixins.scss';

.app {
  height: 100%;
  width: 100%;
}

.sections {
  background-color: $intro-background-color;
  height: 100%;
  overflow: auto;
  position: relative;
  transition: visibility 0s 0.5s;
  visibility: hidden;
  width: 100%;

  &.visible {
    transition: visibility 0s;
    visibility: visible;
  }

  @media only screen and (min-width: $media-m) {
    scroll-snap-type: y proximity;
  }
}
