@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.textBlock {
  grid-area: description;

  .paragraphs {
    list-style-type: none;
    padding-left: $offset-left-s;
    margin: 0;
  }

  &.tasktimer {
  }
}
